* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
body,
button,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
a,
button,
input,
textarea,
select {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
a {
  color: #555;
  text-decoration: none;
}
a,
input,
button,
select {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
button:hover,
select:hover,
input[type='submit']:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 64px;
  line-height: 54px;
  font-weight: bold;
}
@media all and (max-width:479px) {
  h1 {
    font-size: 44px;
    line-height: 34px;
  }
}
h2 {
  font-size: 25px;
  line-height: 25px;
}
h2.big {
  font-size: 38px;
  line-height: 38px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
.inner {
  padding: 20px;
}
@media all and (max-width:479px) {
  .inner {
    padding: 10px;
  }
}
.limit {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
}
.in {
  display: block !important;
  -webkit-animation: fadeIn 0.5s ease both;
  -moz-animation: fadeIn 0.5s ease both;
  -ms-animation: fadeIn 0.5s ease both;
  -o-animation: fadeIn 0.5s ease both;
  animation: fadeIn 0.5s ease both;
}
.in.out {
  -webkit-animation: fadeOut 0.5s ease both;
  -moz-animation: fadeOut 0.5s ease both;
  -ms-animation: fadeOut 0.5s ease both;
  -o-animation: fadeOut 0.5s ease both;
  animation: fadeOut 0.5s ease both;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.overflow {
  overflow: hidden;
}
.none {
  display: none;
}
.nomobile {
  display: block;
}
.mobile {
  display: none;
}
@media all and (max-width:479px) {
  .nomobile {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.content {
  font-size: 15px;
  line-height: 24px;
}
.content h1 {
  margin-bottom: 20px;
  color: #c00;
}
.content h2 {
  font-size: 25px;
}
.content h3 {
  font-size: 22px;
}
.content h4 {
  font-size: 20px;
}
.content h2,
.content h3,
.content h4 {
  margin-bottom: 10px;
  padding-top: 10px;
  color: #c00;
  font-family: 'Open Sans', sans-serif;
}
.content p,
.content ol,
.content ul,
.content table {
  margin-bottom: 15px;
}
.content img,
.content iframe {
  max-width: 100%;
  display: block;
}
.content ol,
.content ul {
  margin-left: 30px;
}
.content ol li,
.content ul li {
  margin-bottom: 5px;
}
.content blockquote {
  padding: 15px 15px 1px 35px;
  background: url("../img/icons/cite.png") 15px 15px no-repeat #fff;
  border-left: 2px solid #555;
  font-size: 1.2em;
  line-height: 1.25em;
  font-style: italic;
  margin-bottom: 15px;
}
.content .important {
  background: #ffc;
  padding: 15px 15px 1px;
  margin-bottom: 15px;
}
.content a {
  text-decoration: none;
  color: #008000;
}
.content a:hover {
  text-decoration: underline;
}
.button,
form.controls .button {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 20px 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right-width: 1px;
  width: auto;
  margin-bottom: 2px;
  background: #ddd;
  color: #666;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
}
.button:hover,
form.controls .button:hover {
  cursor: pointer;
  color: #fff;
  background: #c00;
  border-color: #8f0000;
}
.button.button-primary,
form.controls .button.button-primary {
  color: #fff;
  background: #c00;
  border-color: #8f0000;
}
.button.button-primary:hover,
form.controls .button.button-primary:hover {
  background: #eb0000;
}
.button.button-primary,
form.controls .button.button-primary {
  color: #fff;
  background: #555;
  border-color: #3b3b3b;
}
.button.button-primary:hover,
form.controls .button.button-primary:hover {
  background: #666;
}
.button.button-small,
form.controls .button.button-small {
  font-size: 11px;
  line-height: 11px;
  padding: 8px 8px 5px;
}
.button.button-medium,
form.controls .button.button-medium {
  font-size: 18px;
  line-height: 18px;
  padding: 10px 22px 6px;
}
.button.button-big,
form.controls .button.button-big {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 25px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.button.disabled,
form.controls .button.disabled {
  background: #999;
  border-color: #999;
}
.button.disabled:hover,
form.controls .button.disabled:hover {
  background: #999;
  border-color: #999;
  cursor: default;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-ms-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-moz-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@-o-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@-ms-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}
@-moz-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-ms-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-ms-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-o-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-ms-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}
@-moz-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-ms-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes slideLeft {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-ms-keyframes slideLeft {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes slideRight {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes slideRight {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-ms-keyframes slideRight {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-moz-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-o-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-o-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
@-o-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
@-ms-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
@-moz-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
  }

  80% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
    transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
  }

  80% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
    transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
  }

  80% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
    transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
  }

  80% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
    transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  40% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
  }

  80% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
    transform: translateY(-1%);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cols {
  overflow: hidden;
  margin: 0 -10px;
}
.cols .col {
  float: left;
}
.cols .col .col-inner {
  margin: 0 10px;
}
.cols .col.col-20 {
  width: 20%;
}
.cols .col.col-23 {
  width: 23.33%;
}
.cols .col.col-25 {
  width: 25%;
}
.cols .col.col-30 {
  width: 30%;
}
.cols .col.col-33 {
  width: 33.33%;
}
.cols .col.col-40 {
  width: 40%;
}
.cols .col.col-50 {
  width: 50%;
}
.cols .col.col-66 {
  width: 66%;
}
.cols .col.col-70 {
  width: 70%;
}
.cols .col.col-75 {
  width: 75%;
}
.cols .col.col-100 {
  width: 100%;
}
@media all and (max-width:1199px) {
  .cols .col.col-20 {
    width: 24%;
  }
}
@media all and (max-width:959px) {
  .cols .col.col-23 {
    width: 33.33%;
  }
  .cols .col.col-20,
  .cols .col.col-25,
  .cols .col.col-30 {
    width: 50%;
  }
  .cols .col.col-50 .col-50 {
    width: 50%;
  }
  .cols .col.col-33,
  .cols .col.col-40,
  .cols .col.col-50,
  .cols .col.col-66,
  .cols .col.col-70 {
    width: 100%;
  }
  .cols .col.col-30.col-to-100 {
    width: 100%;
  }
}
@media all and (max-width:719px) {
  .cols .col.col-to-100 {
    width: 100%;
  }
}
@media all and (max-width:479px) {
  .cols .col.col-20,
  .cols .col.col-25,
  .cols .col.col-30 {
    width: 100%;
  }
  .cols .col.col-50 .col-50 {
    width: 100%;
  }
}
.icon-error {
  display: none;
}
form.controls {
  margin: 0 auto;
}
form.controls a {
  text-decoration: none;
}
form.controls input,
form.controls button,
form.controls select,
form.controls textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  background: #ddd;
  margin-bottom: 1px;
}
form.controls input.error,
form.controls button.error,
form.controls select.error,
form.controls textarea.error {
  border-color: #d00;
}
form.controls input:hover,
form.controls button:hover,
form.controls select:hover,
form.controls textarea:hover,
form.controls input:focus,
form.controls button:focus,
form.controls select:focus,
form.controls textarea:focus {
  border-color: #999;
}
form.controls input[type=number]::-webkit-inner-spin-button,
form.controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form.controls select {
  background: url("../img/select.png") right center no-repeat #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
form.controls select.select-80 {
  width: 85px;
  margin-right: -3px;
}
@media all and (max-width:1339px) {
  form.controls select.select-80 {
    width: 82px;
  }
}
form.controls select.select-100 {
  width: 100px;
}
form.controls select.select-150 {
  width: 150px;
}
form.controls textarea {
  height: 70px;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  transition: height 0.2s ease;
  resize: none;
}
form.controls .checkbox,
form.controls .radio {
  width: 17px !important;
  height: 17px;
  padding: 0;
  margin-right: 2px;
  vertical-align: -4px;
}
form.controls .checkbox:checked,
form.controls .radio:checked {
  background-color: #c00;
  border-color: #c00;
  background-position: center center;
}
form.controls .radio {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
form.controls .checkbox {
  background: url("../img/checked.png") center -20px no-repeat;
}
form.controls label:hover .checkbox,
form.controls label:hover .radio {
  background-color: #ccc;
}
form.controls label:hover .checkbox:checked,
form.controls label:hover .radio:checked {
  background-color: #c00;
}
form.controls .number {
  position: relative;
  width: 100px;
}
form.controls .number button {
  position: absolute;
  right: 0;
  padding: 0;
  width: 30px;
  height: 50%;
  text-align: center;
  background: #ccc;
}
form.controls .number button:hover {
  background: #c00;
}
form.controls .number .mas {
  top: 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
form.controls .number .menos {
  bottom: 0;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
form.controls .control {
  display: block;
  margin-bottom: 5px;
  padding: 5px 0;
  overflow: hidden;
}
form.controls .control .control-name,
form.controls .control .control-value,
form.controls .control .control-legend {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  margin-left: -3px;
}
form.controls .control .control-name {
  width: 70px;
  padding-right: 20px;
  padding-top: 8px;
  text-align: right;
}
form.controls .control .control-value {
  width: 280px;
  text-align: left;
  position: relative;
}
form.controls .control .control-value label {
  display: block;
  padding: 5px;
  margin: 2px 5px 0 -5px;
}
form.controls .control .control-value label.inline {
  display: inline-block;
}
form.controls .control .control-legend {
  padding-left: 20px;
  color: #999;
  margin-left: 70px;
  width: 280px;
  text-align: left;
}
form.controls .control.error .control-value input,
form.controls .control.error .control-value select,
form.controls .control.error .control-value textarea {
  border-color: #555;
}
form.controls .control.error .control-legend {
  color: #555;
}
form.controls .icon-error {
  display: none;
  position: absolute;
  top: 5px;
  left: 105%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #d00;
  -webkit-animation: slideFadeLeft 0.2s ease;
  -moz-animation: slideFadeLeft 0.2s ease;
  -ms-animation: slideFadeLeft 0.2s ease;
  -o-animation: slideFadeLeft 0.2s ease;
  animation: slideFadeLeft 0.2s ease;
}
form.controls .icon-error span {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #d00;
  display: block;
  position: absolute;
  top: 5px;
  right: 26px;
}
form.controls .error input,
form.controls .error select,
form.controls .error textarea {
  color: #d00;
  border-color: #d00;
}
form.controls .error input:focus,
form.controls .error select:focus,
form.controls .error textarea:focus,
form.controls .error input:hover,
form.controls .error select:hover,
form.controls .error textarea:hover {
  color: #d00;
  border-color: #d00;
}
form.controls .error .icon-error {
  display: block;
}
@media all and (max-width:810px) {
  form.controls {
    max-width: none;
  }
  form.controls .control .control-name,
  form.controls .control .control-value,
  form.controls .control .control-legend {
    display: block;
    margin: 0;
    padding: 0 0 5px;
    text-align: left;
    width: auto;
  }
}
@media all and (max-width:479px) {
  form.controls .control {
    padding-top: 0;
    margin-bottom: 0;
  }
}
.equidist {
  position: absolute;
  top: 0;
  left: 0;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation: fadeIn 0.5s ease;
  -moz-animation: fadeIn 0.5s ease;
  -ms-animation: fadeIn 0.5s ease;
  -o-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease;
  z-index: 100;
  display: none;
}
.alert .button {
  padding: 7px 20px 5px;
}
.alert.in {
  display: block;
}
.alert.out {
  -webkit-animation: fadeOut 0.2s ease both;
  -moz-animation: fadeOut 0.2s ease both;
  -ms-animation: fadeOut 0.2s ease both;
  -o-animation: fadeOut 0.2s ease both;
  animation: fadeOut 0.2s ease both;
}
.alert .alert-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50,50,50,0.5);
}
.alert .alert-box {
  width: 500px;
  -webkit-animation: slideFadeUp 0.5s ease;
  -moz-animation: slideFadeUp 0.5s ease;
  -ms-animation: slideFadeUp 0.5s ease;
  -o-animation: slideFadeUp 0.5s ease;
  animation: slideFadeUp 0.5s ease;
}
@media all and (max-width:600px) {
  .alert .alert-box {
    width: 100%;
  }
}
.alert .alert-box h2 {
  padding: 0;
  margin-bottom: 10px;
  color: #c00;
  text-align: center;
}
.alert .alert-box p {
  margin-bottom: 20px;
}
.alert .alert-box .alert-content {
  overflow: hidden;
  text-align: center;
}
.alert .alert-box .inner {
  padding: 20px 20px 5px;
  margin: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  background: #fff;
}
.alert .alert-box .inner .buttons {
  margin-bottom: 20px;
}
.alert .alert-box .inner .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  line-height: 28px;
  background: #808080;
  color: #fff;
}
.alert .alert-box .inner .close:hover {
  background: #eb0000;
}
.alert .alert-box .inner .botones {
  text-align: right;
}
.alert .alert-box .inner iframe {
  width: 100% !important;
}
.royalSlider {
  position: relative;
}
.rsThumbs .rsThumbsContainer {
  padding-top: 5px;
}
.rsThumbs .rsThumbsContainer .rsThumb {
  float: left;
  height: 75px;
  width: 110px;
  background: #c00;
  overflow: hidden;
}
.rsThumbs .rsThumbsContainer .rsThumb img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rsThumbs .rsThumbsContainer .rsThumb.rsNavSelected img {
  opacity: 0.25;
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 100 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0,0,0,0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsVideoContainer {
/*left: 0;
	top: 0;
	position: absolute;*/
/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: 0.3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  -webkit-backface-visibility: hidden;
}
.grab-cursor {
  cursor: url("grab.png") 8 8, move;
}
.grabbing-cursor {
  cursor: url("grabbing.png") 8 8, move;
}
.rsNoDrag {
  cursor: auto;
}
