

.button, .button.button
	font-family font
	text-decoration none
	display inline-block
	border 1px solid transparent
	width auto
	transition tn
	text-align center
	margin-bottom 2px
	vertical-align middle
	radius rad_2

	background color
	color white

	&.button-color-2
		background color_2
		color white

	&.button-white
		background white
		color dark

	&.button-light
		background light
		color dark

	&.button-gray
		background gray
		color white

	&.button-dark
		color white
		background dark

	&.button-black
		color white
		background black
	
	&.button-line
		border-color light
		background transparent
		color dark

	&.button-line-white
		border-color white
		background transparent
		color white


	// Standar hover

	&:hover
		border-color lighten(color,10%)
		background lighten(color,10%)
		color white
		text-decoration none
		cursor pointer


	// Hover color 2

	&.button-color-2
	&.button-hover-2
		&:hover
			border-color lighten(color_2,10%)
			background lighten(color_2,10%)
			color white
	

	// Others

	&.button-disabled
		background light
		border-color light
		color white
		&:hover
			background light
			border-color light
			color white
			cursor default

	&.button-block
		display block


	// Sizes

	font-size 16px
	line-height 16px
	padding 8px 15px

	&.button-small
		font-size 14px
		line-height 14px
		padding 6px 10px
	
	&.button-medium
		font-size 18px
		line-height 18px
		padding 10px 22px
	
	&.button-big
		font-size 20px
		line-height 20px
		padding 12px 25px

