

.content
	font-size 15px
	line-height 24px

	h1, h2, h3, h4
		padding-top 10px
		margin-bottom 15px
		&:first-child
			padding-top 0

	p, ol, ul, table
		margin-bottom 15px
		&:last-child
			margin-bottom 0

	ul
		list-style-type disc
	ol
		list-style-type decimal
	ol,ul
		margin-left 30px
		li
			margin-bottom 5px

	blockquote
		padding 15px 20px 15px 35px
		background url(../img/icon-cite.png) 15px 15px no-repeat
		border-left 2px solid color
		font-size 1.2em
		line-height 1.5em
		font-style italic
		margin-bottom 15px
		
	pre
		background rgba(0,0,0,.05)
		padding 15px 20px
		margin-bottom 15px
		overflow auto

	.important
		background yellow
		padding 15px 20px
		margin-bottom 15px
		

	img
		height auto
		width auto
		max-width 100%
		display block

		// WP
		&.alignright
			float right
			margin-left 20px
			@media break2
				float none
				margin-left 0
		&.alignleft
			float left
			margin-right 20px
			@media break2
				float none
				margin-left 0
		&.aligncenter
			margin 0 auto

	iframe
		width 100%
		max-width 100%
		display block
		@media break1
			height 200px

	a
		text-decoration none
		color color_2
		&:hover
			text-decoration underline
			

