


// Estilos de formularios

form
.form

	input
	button
	select
	textarea
		display block
		width 100%
		border border
		padding 10px
		vertical-align top
		background #FFF
		radius 0
		box-sizing border-box
		appearance none
		&:focus
			border-color gray

	label:hover
		input
		button
		select
		textarea
			border-color gray

	select
		background url(../img/icon-select.png) right center no-repeat transparent
		padding-right 40px

	textarea
		height 200px
		resize none

	input[type='checkbox'],
	input[type='radio']
		display inline-block
		width 16px
		height 16px
		padding 0
		margin-right 2px
		margin-top 2px
		background url(../img/icon-checked.png) center -20px no-repeat transparent
		&:checked
			background-color color
			border-color color
			background-position center center

	input[type='radio']
		radius 15px


// Estilos para controles de formularios

w_name = 160px
w_name_sep = 20px
w_value = 280px
w_form = w_name + w_value

.controls

	.control
		display block
		margin-bottom 15px
		position relative
		&:last-child
			margin-bottom 0

		.control-name
			margin-bottom 5px

		.control-value
			label
				display block
				padding 5px
				margin 0 5px 0 -5px
				&.inline
					display inline-block

		.control-message
			transition .5s ease
			line-height 0px
			opacity 0
			&.in
				line-height 20px
				opacity 1
				&.out
					line-height 0px
					opacity 0

	.control-error
		input
		select
		textarea
			border-color red
		.control-message
			color red
			margin-top 5px


	&.controls-center
		margin 0 auto
		max-width w_form
	
	&.controls-layout
		.control
			overflow hidden
			.control-name
			.control-value
				float left
			.control-name
				width w_name
				text-align right
				padding-right w_name_sep
				padding-top 8px
				&.control-name-2lines
					padding-top 0
					line-height 18px
			.control-value
				width w_value


@media break2
	.controls
		&.controls-layout
			.control
				.control-name
				.control-value
					float none
					width auto
				.control-name
					padding 0
					text-align left
					&.control-name-2lines
						line-height inherit




