


// Estilos de formularios

form
.form

	input
	button
	select
	textarea
		display block
		width 100%
		border border
		padding 10px
		vertical-align top
		background white
		radius 0
		box-sizing border-box
		appearance none
		&:focus
			border-color color

	select
		background url(../img/icon-select.png) right center no-repeat white
		padding-right 40px

	textarea
		height 200px
		resize none

	input[type='checkbox'],
	input[type='radio']
		display inline-block
		width 16px
		height 16px
		padding 0
		margin-right 2px
		margin-top 2px
		background url(../img/icon-checked.png) center -20px no-repeat white
		&:checked
			background-color color
			border-color color
			background-position center center

	input[type='radio']
		radius 15px


// Estilos para controles de formularios

w_name = 160px
w_value = 240px
w_form = w_name + w_value

.controls

	&.controls-center
		margin 0 auto
		max-width w_form
	
	.control
		display block
		margin-bottom 15px
		position relative
		&:last-child
			margin-bottom 0

		.control-name
			padding-bottom 5px
			transition .2s ease
			overflow hidden

			.control-message
				display inline
				font-weight bold
				animation fadeIn .5s .1s ease backwards
				
		.control-value
			position relative
			label
				display block
				padding 5px
				margin 0 5px 0 -5px
				&.label-inline
					display inline-block

		&.control-error
			.control-name
				background lighter
				padding 10px 10px


