
// Reset

*
	margin 0
	padding 0
	border 0
	outline 0


// Base styles

body
	-webkit-font-smoothing antialiased
	background global_bg

body, button, input, textarea, select
	font-family font
	color global_color
	font-size global_size
	line-height global_lh

a, button, input, textarea, select
	transition tn

a
	color color
	text-decoration none
	&.a-classic
		text-decoration underline

button, select, label
	&:hover
		cursor pointer

p
	margin-bottom 15px

h1, h2, h3, h4
	font-family font_2

h1
.h1
	title h1

h2
.h2
	title h2

h3
.h3
	title h3

h4
.h4
	title h4

h5		
.h5
	title h5

ul
ol
	list-style-type none

img
	display block
	&.img-ma
		margin 0 auto
	&.img-mw
		max-width 100%
	&.img-circle
		radius 50%

table
	border-collapse collapse
	line-height global_lh
	td
	th
		border 1px solid lightgray
		padding 10px
	th
		background-color darkgray
		border-color darkgray
		color white


// Particular classes

.clear
	clear both

.center
	text-align center

.left
	text-align left

.right
	text-align right

.float-left
	float left

.float-right
	float right

.overflow
	overflow hidden

.none
	display none

.nowrap
	white-space nowrap

.mb0
	margin-bottom 0
.mb5
	margin-bottom 5px
.mb10
	margin-bottom 10px
.mb15
	margin-bottom 15px
.mb20
	margin-bottom 20px


// Base layout

.limit
	max-width limit
	margin 0 auto
	position relative

.inner
	padding sep
	@media break1
		padding (sep/2)

.nomobile
	display block
.mobile
	display none
@media break1
	.nomobile
		display none
	.mobile
		display block


// Generic animation

.in
	display block
	animation fadeIn .5s ease both
	&.out
		animation fadeOut .5s ease both


// Font awesome

.fa
	vertical-align middle
