

.secretmenu
	width 0px

	.secretmenu-translate
		transition .6s .1s cb
		transform translateX(100%)
	
	.secretmenu-lvl
		plane absolute
		overflow auto
		transition .6s .1s cb
		display none
		&:first-child
			display block

		&.secretmenu-lvl-prev
			transform translateX(-50%)
			opacity 0

		&.secretmenu-lvl-leave
			transform translateX(100%)

		&.secretmenu-lvl-enter
			display block !important
			animation slideLeft .6s .1s cb backwards
	
		.fa
			&.fa-angle-left
				margin-right 10px
			&.fa-angle-right
				float right
				opacity .5
			&.fa-angle-left
			&.fa-angle-right
				font-size 160%



body.secretmenu-in
	.secretmenu
		width auto
		@media break1
			width 100%
		.secretmenu-translate
			transform translateX(0%)

body.secretmenu-out
	.secretmenu
		width auto
		@media break1
			width 100%







// Config menu button

secretmenu_button_width = 60px
secretmenu_button_height = 60px
secretmenu_button_bar_width = 25px
secretmenu_button_bar_height = 2px
secretmenu_button_bar_sep = 7px
secretmenu_button_bars_height = (secretmenu_button_bar_sep*2)+(secretmenu_button_bar_height*3)

.secretmenu-button
	position relative
	width secretmenu_button_width
	height secretmenu_button_height
	tap 0
	transition .5s ease
	.secretmenu-button-bars
		position absolute
		top 50%
		left 50%
		width secretmenu_button_bar_width
		height secretmenu_button_bars_height
		margin-left (secretmenu_button_bar_width/-2)
		margin-top (secretmenu_button_bars_height/-2)
		.secretmenu-button-bar
			position absolute
			left 0
			width 100%
			height secretmenu_button_bar_height
			background white
			transition .4s ease
			&:nth-child(1)
				top 0
			&:nth-child(2)
				top 50%
				margin-top (secretmenu_button_bar_height/-2)
			&:nth-child(3)
				bottom 0

	&:hover
		cursor pointer
		.secretmenu-button-bars
			.secretmenu-button-bar
				&:nth-child(1)
					transform translateY(-3px)
				&:nth-child(3)
					transform translateY(3px)

body.secretmenu-in
	.secretmenu-button
		opacity .5
		&:hover
			opacity 1
		.secretmenu-button-bars
			.secretmenu-button-bar
				&:nth-child(2)
					transform scale(0,1)
				&:nth-child(1)
					transform rotate(45deg) translate(6px,6px)
				&:nth-child(3)
					transform rotate(-45deg) translate(6px,-6px)

body.secretmenu-out
	.secretmenu-button
		opacity 1
		.secretmenu-button-bars
			.secretmenu-button-bar
				transition-delay 0s
				&:nth-child(2)
					transform none
				&:nth-child(1)
					transform none
				&:nth-child(3)
					transform none



