


/* Formularios */

w_name = 100px
w_name_sep = 20px
w_value = 280px
w_form = w_name + w_name_sep + w_value

.icon-error
	display none
	
form.controls,
form.wpcf7-form

	margin 0 auto
	max-width w_form


	a
		text-decoration none

	input
	button
	select
	textarea
		width 100%
		border 1px solid #DDD
		padding 8px 10px
		box-sizing border-box
		-webkit-appearance none
		-moz-appearance none
		appearance none
		vertical-align top
		background #FFF
		margin-bottom 1px
		radius 0
		&.error
			border-color red
		&:hover
		&:focus
			border-color #999

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0





	select
		background url(../img/select.png) right center no-repeat #FFF

	textarea
		height 70px
		transition height .2s ease
		resize none


	.checkbox,
	.radio
		width 17px !important
		height 17px
		padding 0
		margin-right 2px
		vertical-align -4px
		background url(../img/checked.png) center -20px no-repeat
		&:checked
			background-color primary_color
			border-color primary_color
			background-position center center

	.radio
		radius 15px

	label:hover
		.checkbox,
		.radio
			background-color #CCC
			&:checked
				background-color primary_color


	.number
		position relative
		width 100px
		button
			position absolute
			right 0
			padding 0
			width 30px
			height 50%
			text-align center
			background #CCC
			&:hover
				background primary_color
		.mas
			top 0
			radius 0 3px 0 0
		.menos
			bottom 0
			radius 0 0 3px 0










	.control
		display block
		margin-bottom 5px
		padding 2px 0
		overflow hidden

		.control-name
		.control-value
		.control-legend
			display inline-block
			vertical-align top
			padding-bottom 5px
			margin-left -3px

		.control-name
			width w_name
			padding-right w_name_sep
			padding-top 8px
			text-align right
			&.control-name-2lines
				padding-top 0
				line-height 18px

		.control-value
			width w_value
			text-align left
			position relative
			label
				display block
				padding 5px
				margin 2px 5px 0 -5px
				&.inline
					display inline-block

		.control-error
			transition .5s ease
			line-height 0px
			opacity 0
			&.in
				line-height 20px
				opacity 1
				&.out
					line-height 0px
					opacity 0

		&.error
			.control-value
				input, select, textarea
					border-color secondary_color
			.control-legend
				color secondary_color


	.error
		input, select, textarea
			border-color red
		.control-error
			color red




@media break2
	form.controls,
	form.wpcf7-form
		max-width none
		.control
			.control-name
			.control-value
			.control-legend
				display block
				margin 0
				padding 0 0 5px
				text-align left
				width auto

@media break1
	form.controls,
	form.wpcf7-form
		.control		
			padding-top 0
			margin-bottom 0





