

.scroll
	overflow hidden
	position relative
	height 100%
	.iScrollVerticalScrollbar
		width 5px
		position absolute
		top 2.5%
		height 95%
		right 5px
		opacity .3
		transition tnormal
		.iScrollIndicator
			background primary_color
			radius 5px
	&:hover
		.iScrollVerticalScrollbar
			opacity .5


