


header_height = 70px
header_height_min = 50px

header
	position fixed
	left 0
	top 0
	width 100%
	transition .5s cb
	background #555
	z-index 2
	height header_height
	overflow hidden
	.inner
		padding-top 0
		padding-bottom 0
	ul
		li
			display inline-block
			a
				display block
				padding 25px 10px

#body
	padding-top header_height

@media break1
	header
		height header_height_min
		.secretmenu-button
			display block
		ul
			padding-left header_height_min
			li
				a
					padding 15px 10px
	#body
		padding-top header_height_min




.secretmenu
	a
		padding 15px
		display block
		border-bottom 1px solid rgba(0,0,0,.1)



@import 'site-common-header'
@import 'site-common-footer'










