
// FUNCIONES

radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

transition-delay()
	-moz-transition-delay arguments
	-webkit-transition-delay arguments
	-ms-transition-delay arguments
	-o-transition-delay arguments
	transition-delay arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

transform-origin()
	-webkit-transform-origin arguments
	-moz-transform-origin arguments
	-ms-transform-origin arguments
	-o-transform-origin arguments
	transform-origin arguments	

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

animation-delay()
	-webkit-animation-delay arguments
	-moz-animation-delay arguments
	-ms-animation-delay arguments
	-o-animation-delay arguments
	animation-delay arguments

perspective()
	-webkit-perspective arguments
	-moz-perspective arguments
	-ms-perspective arguments
	-o-perspective arguments
	perspective arguments	

perspective-origin()
	-webkit-perspective-origin arguments
	-moz-perspective-origin arguments
	-ms-perspective-origin arguments
	-o-perspective-origin arguments
	perspective-origin arguments	

mask()
	-webkit-mask-image arguments
	-moz-mask-image arguments
	-ms-mask-image arguments
	-o-mask-image arguments
	-mask-image arguments

placeholder()
	&::-webkit-input-placeholder
		color arguments
	&::-moz-placeholder
		color arguments
	&:-moz-placeholder
		color arguments
	&:-ms-input-placeholder
		color arguments

overflow()
	overflow arguments
	if arguments == "auto" || arguments == "scroll"
		-webkit-overflow-scrolling touch

tap()
	if arguments == "0"
		-webkit-tap-highlight-color rgba(0,0,0,0)
	else
		-webkit-tap-highlight-color arguments

triangle(width,direction,color)
	position absolute
	border width solid transparent
	if direction=="top"
		border-bottom-color color
		bottom 100%
		left 50%
		margin-left width*-1
	if direction=="right"
		border-left-color color
		left 100%
		top 50%
		margin-top width*-1
	if direction=="bottom"
		border-top-color color
		top 100%
		left 50%
		margin-left width*-1
	if direction=="left"
		border-right-color color
		right 100%
		top 50%
		margin-top width*-1

circle()
	width arguments
	height arguments
	line-height arguments
	text-align center
	radius 50%
	overflow hidden



