
// VARS

tnormal				= all .2s ease
shadow				= 1px 1px 0px rgba(0,0,0,.4)
boxshadow			= 2px 2px 4px rgba(0,0,0,.1)
border				= 1px solid #DDD
rad					= 5px
rad2				= 3px
cb					= cubic-bezier(0.770, 0.000, 0.175, 1.000)
red					= #D00

fuente1				= 'Open Sans', sans-serif
fuente2				= 'Open Sans', sans-serif

primary_color		= #3CC
secondary_color		= #399

color_facebook		= #3b5998
color_twitter		= #00aced
color_gplus			= #dd4b39
color_youtube		= #bb0000
color_linkedin		= #007bb6
color_instagram		= #517fa4
color_pinterest		= #cb2027
color_foursquare	= #0072b1

color_lg_red 		= #c4004b
color_lg_gray		= #6e6f74
color_lg_vivirsmart	= #582d5b



// RESPONSIVE BREAKPOINTS VARS [240px * (n+1) - 1]

break1 = "all and (max-width:479px)"
break2 = "all and (max-width:719px)"
break3 = "all and (max-width:959px)"
break4 = "all and (max-width:1199px)"
break5 = "all and (min-width:1440px)"

