


@keyframes loaderRotate
	100%
		transform rotate(360deg)

@keyframes loaderDash
	0%
		stroke-dasharray 0,200
		stroke-dashoffset 0
	50%
		stroke-dasharray 100,200
		stroke-dashoffset -20px
	100%
		stroke-dasharray 100,200
		stroke-dashoffset -120px


loading_w = 50px
loading_bgcolor = color
loading_color = white

.loading
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background rgba(0,0,0,.5)
	animation fadeIn .8s ease
	z-index 250
	&.out
		animation fadeOut .5s ease both

	svg
		background loading_bgcolor
		centre loading_w
		radius 50%
		padding 10px
		overflow hidden
		z-index 1
		animation loaderRotate 2s linear infinite
		transform-origin center center
		circle
			animation loaderDash 2s ease-in-out infinite
			stroke-linecap round
			stroke-width 2
			stroke loading_color
			fill none





