
.tabs
	.tabs-header
		.tab
			padding 10px 20px
			display inline-block
			color dark
			opacity .5
			&:hover
				cursor pointer
				text-decoration none
			&.tab-active
				background white
				opacity 1
	.tabs-body
		background white
		.tab
			display none
			&.tab-active
				display block
