

.youtube
	position relative
	img
		width 100%

	.youtube-play
		circle 50px
		centre 50px, 50px
		background dark
		color white
		transition .2s ease
		.fa
			margin-left 2px
	
	&:hover
		cursor pointer
		.youtube-play
			background color
			transform scale(1.2)

	&.youtube-playing
		.youtube-play
			transform scale(.8)
			opacity 0

	&.youtube-out
		.youtube-iframe
			animation fadeOut .5s ease both

.youtube-iframe
	//cover fixed
	cover absolute
	z-index 12
	animation fadeIn .5s ease backwards
	background black
	iframe
		cover absolute
		animation fadeIn 1s 1s ease backwards
	.youtube-iframe-close
		position absolute
		top 5px
		right 5px
		circle 30px
		background dark
		color white
		&:hover
			background color
