
.tabs
	.tabs-header
		.tab
			padding 10px 15px
			display inline-block
			&:hover
				cursor pointer
			&.tab-active
				background white
	.tabs-body
		background white
		.tab
			display none
			&.tab-active
				display block
