
// Colors
color               = #7843C7
color_2             = #0CA
black               = #222
dark                = #333
gray                = #999
light               = #DDD
lighter             = #EEE
white               = #FFF
red                 = #D00
yellow              = #FFC

// Social colors
color_facebook      = #3b5998
color_twitter       = #00aced
color_googleplus    = #dd4b39
color_youtube       = #bb0000
color_linkedin      = #007bb6
color_instagram     = #517fa4
color_pinterest     = #cb2027
color_foursquare    = #0072b1
color_whatsapp      = #4dc247
color_blogger       = #ea7d08
color_vimeo         = #409dcf
color_flickr        = #0063DC
color_tripadvisor   = #589442

// Global
global_bg           = lighter
global_color        = dark
global_size         = 14px
global_lh           = 20px
global_sep          = 20px

// Layout
sep                 = 20px
limit               = 1240px
limit_2             = 1000px
limit_3             = 800px

// Fonts
font                = 'Open Sans', sans-serif
font_2              = 'Open Sans', sans-serif

// CSS vars
shadow              = 1px 1px 0px rgba(0,0,0,.4)
shadow_2            = 2px 2px 4px rgba(0,0,0,.1)
border              = 1px solid light
rad                 = 5px
rad_2               = 2px
tn                  = .2s ease


// Proportional titles 

title_base          = 20px
title_aument        = 10px
title_lineheight    = 1

title_h1            = title_base + (title_aument*4)
title_h2            = title_base + (title_aument*2)
title_h3            = title_base + (title_aument*1)
title_h4            = title_base + (title_aument*0)
title_h5            = title_base - ceil(title_aument*.5)

title_h1_lh         = ceil( title_h1 * title_lineheight )
title_h2_lh         = ceil( title_h2 * title_lineheight )
title_h3_lh         = ceil( title_h3 * title_lineheight )
title_h4_lh         = ceil( title_h4 * title_lineheight )
title_h5_lh         = ceil( title_h5 * title_lineheight )


// Default cubic bezier
cb                  = cubic-bezier(0.77, 0, 0.175, 1)


// Bootstrap grid vars

$break              = 240px

$screen-sm          = $break * 2
$screen-md          = $break * 3
$screen-lg          = $break * 4

$break-sm           = "(min-width $screen-sm-min)"
$break-md           = "(min-width $screen-md-min)"
$break-lg           = "(min-width $screen-lg-min)"
$break-limit        = "(min-width " + limit + ")"

$grid-gutter-width  = 20px

$bootstrap-path     = "../../bower_components/bootstrap-stylus/bootstrap/"

