
// Fade

@keyframes fadeIn
	0%
		opacity 0

@keyframes fadeOut
	100%
		opacity 0



// Slide Up

@keyframes slideUp
	0%
		transform translateY(100%)
@keyframes slideFadeUp
	0%
		transform translateY(100%)
		opacity 0
@keyframes slideUpOut
	100%
		transform translateY(-100%)



// Slide Down

@keyframes slideDown
	0%
		transform translateY(-100%)
@keyframes slideFadeDown
	0%
		transform translateY(-100%)
		opacity 0
@keyframes slideDownOut
	100%
		transform translateY(100%)



// Slide Left

@keyframes slideLeft
	0%
		transform translateX(100%)

@keyframes slideLeftOut
	100%
		transform translateX(-100%)



// Slide Right

@keyframes slideRight
	0%
		transform translateX(-100%)

@keyframes slideRightOut
	100%
		transform translateX(100%)




// Scale

@keyframes scaleIn
	0%
		transform scale(0)

@keyframes scaleFadeIn
	0%
		transform scale(.8)
		opacity 0

@keyframes scaleOut
	100%
		transform scale(0)

@keyframes scaleFadeOut
	100%
		transform scale(.8)
		opacity 0



// Rotate

@keyframes rotate360
	0%
		transform rotate(-360deg)



// Bounce

@keyframes bounceInDown
	0%
		transform translateY(-100%)
	40%
		transform translateY(0%)
	60%
		transform translateY(-5%)
	80%
		transform translateY(0%)
	90%
		transform translateY(-1%)
	100%
		transform translateY(0)

@keyframes bounceIn
	0%
		opacity 0
		transform scale(0)
	60%
		opacity 1
		transform scale(1.1)
	70%
		transform scale(.9)
	80%
		transform scale(1.03)
	90%
		transform scale(.97)
	100%
		opacity 1
		transform scale(1)






