

// Helpers

.clear
	clear both

.center
	text-align center

.left
	text-align left

.right
	text-align right

.float-left
	float left

.float-right
	float right

.cover
	cover absolute

.none
.none-sm
.none-md
.none-lg
	display none
.none-sm
	@media $break-sm
		display block
.none-md
	@media $break-md
		display block
.none-lg
	@media $break-lg
		display block
.visible-sm
	@media $break-sm
		display none
.visible-md
	@media $break-md
		display none
.visible-lg
	@media $break-lg
		display none
	
.sep
.sep-2
.sep-3
.sep-4
	height sep
	@media $break-md
		height sep*2
.sep-3
	@media $break-lg
		height sep*3
.sep-4
	@media $break-lg
		height sep*4


.prop-1-1
	proportion 1,1
.prop-2-1
	proportion 2,1
.prop-4-3
	proportion 4,3
.prop-16-9
	proportion 16,9






