
header

	.header-top
		.header-limit
			.header-inner

				.header-logo
					a(href=SITE_URL) Base Front

				.header-nav
					nav
						ul
							li: a(href=PAGES.home) Inicio
							li: a(href=PAGES.single) Single
							li: a(href=PAGES.demo) Demo
							li
								a(href="#") Multi-menu
								ul
									li: a(href="#") Lorem ipsum 1
									li: a(href="#") Lorem ipsum 2
									li
										a(href="#") Lorem ipsum 3
										ul
											li: a(href="#") Lorem ipsum 3.1
											li: a(href="#") Lorem ipsum 3.2
											li: a(href="#") Lorem ipsum 3.3


	.header-menu-button.secretmenu-button

	.header-menu.secretmenu
		.header-menu-back
		.header-menu-inner.secretmenu-translate
			.header-menu-content
				.secretmenu-lvl(data-copy=".header-nav")
