

mixin cols(limit,width)
	.cols
		- for (var a=0; a<limit; a++)
			.col(class="col-"+width).dscroll
				.col-inner
					block


mixin img(width,height,htmlclass)
	- var num = Math.floor((Math.random()*7))
	- var url = "http://lorempixel.com/"+width+"/"+height+"/nature/"+num
	img( src = url, class = htmlclass )

		

mixin num(max,min,decimalPlaces)
	- var max = max || 999
	- var min = min || 0
	- var decimalPlaces = decimalPlaces || false 
	- var realMax = max + (min*-1)
	if decimalPlaces
		= ((Math.random() * realMax) + min).toFixed(decimalPlaces)
	else
		= Math.round(Math.random() * realMax) + min



- var colonEvery = 10
- var words = ['consectetur', 'adipiscing', 'elit', 'curabitur', 'vel', 'hendrerit', 'libero', 'eleifend', 'blandit', 'nunc', 'ornare', 'odio', 'ut', 'orci', 'gravida', 'imperdiet', 'nullam', 'purus', 'lacinia', 'a', 'pretium', 'quis', 'congue', 'praesent', 'sagittis', 'laoreet', 'auctor', 'mauris', 'non', 'velit', 'eros', 'dictum', 'proin', 'accumsan', 'sapien', 'nec', 'massa', 'volutpat', 'venenatis', 'sed', 'eu', 'molestie', 'lacus', 'quisque', 'porttitor', 'ligula', 'dui', 'mollis', 'tempus', 'at', 'magna', 'vestibulum', 'turpis', 'ac', 'diam', 'tincidunt', 'id', 'condimentum', 'enim', 'sodales', 'in', 'hac', 'habitasse', 'platea', 'dictumst', 'aenean', 'neque', 'fusce', 'augue', 'leo', 'eget', 'semper', 'mattis', 'tortor', 'scelerisque', 'nulla', 'interdum', 'tellus', 'malesuada', 'rhoncus', 'porta', 'sem', 'aliquet', 'et', 'nam', 'suspendisse', 'potenti', 'vivamus', 'luctus', 'fringilla', 'erat', 'donec', 'justo', 'vehicula', 'ultricies', 'varius', 'ante', 'primis', 'faucibus', 'ultrices', 'posuere', 'cubilia', 'curae', 'etiam', 'cursus', 'aliquam', 'quam', 'dapibus', 'nisl', 'feugiat', 'egestas', 'class', 'aptent', 'taciti', 'sociosqu', 'ad', 'litora', 'torquent', 'per', 'conubia', 'nostra', 'inceptos', 'himenaeos', 'phasellus', 'nibh', 'pulvinar', 'vitae', 'urna', 'iaculis', 'lobortis', 'nisi', 'viverra', 'arcu', 'morbi', 'pellentesque', 'metus', 'commodo', 'ut', 'facilisis', 'felis', 'tristique', 'ullamcorper', 'placerat', 'aenean', 'convallis', 'sollicitudin', 'integer', 'rutrum', 'duis', 'est', 'etiam', 'bibendum', 'donec', 'pharetra', 'vulputate', 'maecenas', 'mi', 'fermentum', 'consequat', 'suscipit', 'aliquam', 'habitant', 'senectus', 'netus', 'fames', 'quisque', 'euismod', 'curabitur', 'lectus', 'elementum', 'tempor', 'risus', 'cras', 'colus', 'miga' ]

mixin capitalize(string)
	= string.charAt(0).toUpperCase() + string.slice(1)
mixin beginSentence(string)
	= '. ' 
	mixin capitalize(string)

- var maxWords = (words.length - 1)

mixin lorem(howmany, loremipsum)
	if loremipsum
		= 'Lorem ipsum dolor sit amet. '
	- for (var i = 0; i < howmany; i++) {
		- var nextWord = words[Math.floor((Math.random()*maxWords))]
		if (i == 0)
			mixin capitalize(nextWord)
		else
			if ! parseInt(i % colonEvery) && (howmany - i > colonEvery)
				mixin beginSentence(nextWord)
			else
				= ' ' + nextWord
				if i == howmany - 1 
					= '.'
	- }






