


header_height = 70px
header_height_min = 50px
header_width = 260px

header
	.header-top
		padding-top 0
		padding-bottom 0
		position fixed
		width 100%
		top 0
		left 0
		z-index 5 // Arriba
		.inner
			background #444
			padding 0
			height header_height
		ul
			padding 0 15px
			li
				display inline-block
				a
					display block
					padding 25px 10px
				ul
					display none
	.header-left
		
		position fixed
		top 0
		left 0
		height 100%
		width 100%
		z-index 3 // Abajo
		.limit
			height 100%
		.inner
			width header_width
			padding 0
			position relative
			height 100%
			background #DDD
			padding-top header_height
		ul
			li
				a
					display block
					padding 15px 25px


#body
	padding-top header_height
	margin-left header_width
	position relative
	z-index 4 // Al medio

@media break2
	header
		.secretmenu-button
			display block
		.header-top
			.inner
				height header_height_min
			ul
				margin-left 50px
				li
					a
						display block
						padding 15px 10px
		.header-left
			display none
	#body
		padding-top header_height_min
		margin-left 0




.secretmenu
	a
		padding 15px
		display block
		border-bottom 1px solid rgba(0,0,0,.1)

