
extends ./templates/default.jade

block page

	section
		.limit.inner.inner-2
			.cols

				.col-sm-8
					+articleBg()
				.col-sm-4
					+article()

			.cols
				.col-sm-4
					+article()
				.col-sm-4
					+article()
				.col-sm-4
					+loop(3)
						+articleMin()

	section.section-dark
		.limit.inner.inner-2
			.cols.cols-gutterx2
				.col-sm-8
					+articleBg()
				.col-sm-4
					+article()

			.cols.cols-gutterx2
				.col-sm-4
					+article()
				.col-sm-4
					+article()
				.col-sm-4
					+loop(3)
						+articleMin()

	section.section-color
		.limit.inner.inner-2

			.cols.cols-gutterx0
				.col-sm-4
					+articleBg()
				.col-sm-4
					+articleBg()
				.col-sm-4
					+articleBg()
