
extends ./templates/default.jade

block page


	section.section-dark.section-center

		.slider

			.slide
				.section-bg.bg: +img(800,400)
				.section-limit
					.section-content-va
						+sectionContent('h1',true,false,'color','line-white')

			.slide
				.section-bg.bg: +img(800,400)
				.section-limit
					.section-content-va
						+sectionContent('h1',true,false,'white')

			.slide
				.section-bg.bg: +img(800,400)
				.section-limit
					.section-content-va
						+sectionContent('h1',true,false,'line-white')



	section.section-center
		.section-limit

			.cols
				.col-md-8.col-lg-6
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()
				.col-md-4.col-lg-3
					+articlePhoto()



	section.section-center
		.section-limit

			+sectionContent(true,true)

			.section-articles
				+articleCircle()
				+articleCircle()
				+articleCircle()


	section
		.section-limit

			.cols
				.col-md-8
					+articleBg()
				.col-md-4
					+article()

			.cols
				.col-sm-6.col-lg-4
					+article()
				.col-sm-6.col-lg-4
					+article()
				.col-sm-12.col-lg-4
					+loop(3)
						+articleMin()


	section
		.section-limit

			.cols.cols-gutterx0
				.col-md-4
					+articleBg()
				.col-md-4
					+articleBg()
				.col-md-4
					+articleBg()



	section
		.cols.cols-gutterx0
			.col-md-4
				+articleBg("big")
			.col-md-4
				+articleBg("big")
			.col-md-4
				+articleBg("big")




	section
		.section-limit
			.cols.cols-gutterx2
				.col-md-6
					+img(800,400)
				.col-md-6
					+sectionContent(true,true,true,'dark')

	section
		.section-limit
			.cols.cols-gutterx2
				.col-md-6.col-md-push-6
					+img(800,400)
				.col-md-6.col-md-pull-6
					+sectionContent(true,true,true,'dark')
			



	section.section-logos
		.section-limit
			h3 Nos apoyan
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")

	//
		section.section-logos2
		.section-limit
			h3 Nos apoyan
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-3.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-4.png")
			a(href="#"): +img("logo-3.png")




	section.section-map

		.section-map.map(data-zoom='14', data-lat='-33.4585000', data-lng='-70.649371')
			.map-marker(data-lat='-33.4585000', data-lng='-70.629371')

		.section-limit
			.section-map-box

				.box.box-white
					h3: +lorem(3) 
					ul
						li
							span.fa.fa-home
							| Avenida del Parque 4161, oficina 103, Ciudad Empresarial
						li
							a(href='tel:+56223935367')
								span.fa.fa-phone
								| +(56) 2 2393 5367
						li
							a(href='mailto:contacto@adsgdfg.com')
								span.fa.fa-envelope
								| contacto@adsgdfg.com



	//
		section.section-map2


		.cols.cols-gutterx0

			.col-md-6.section-map.map(data-zoom='14', data-lat='-33.4585000', data-lng='-70.629371')
					.map-marker(data-lat='-33.4585000', data-lng='-70.629371')
						ul
							li
								span.fa.fa-home
								| Avenida del Parque 4161, oficina 103, Ciudad Empresarial
							li
								a(href='tel:+56223935367')
									span.fa.fa-phone
									| +(56) 2 2393 5367
							li
								a(href='mailto:contacto@adsgdfg.com')
									span.fa.fa-envelope
									| contacto@adsgdfg.com

			.col-md-6
				.section-limit

					h3: +lorem(3) 
					ul
						li
							span.fa.fa-home
							| Avenida del Parque 4161, oficina 103, Ciudad Empresarial
						li
							a(href='tel:+56223935367')
								span.fa.fa-phone
								| +(56) 2 2393 5367
						li
							a(href='mailto:contacto@adsgdfg.com')
								span.fa.fa-envelope
								| contacto@adsgdfg.com


	section.section-dark.section-center
		.section-bg.bg: +img(800,400)
		.section-limit
			+sectionContent(true,true,false,'color')


