
extends ./templates/default.jade

block page

	.page

		.page-header.lighter
			.limit.limit-2.inner.inner-4
				h1 Lorem ipsum dolor sit amet

		.page-body.white
			.limit.limit-2.inner.inner-2
				.content

					p: +lorem(40)
					p: +lorem(40)
					p: +img(1000,600)
					p Ratione, <strong>obcaecati quia eligendi</strong> voluptatem perferendis amet suscipit ullam enim voluptatibus voluptas praesentium pariatur qui porro libero ipsum consectetur sapiente culpa aperiam omnis animi iusto magnam laboriosam. Ea consequuntur, alias.
					p Excepturi inventore maiores, non repellendus quidem <a href="#">necessitatibus soluta</a> doloribus, dolorum velit explicabo a nobis, fugit natus molestiae placeat minus suscipit itaque commodi ex sit, aspernatur laudantium deserunt porro. Voluptate, ea.

					h2: +lorem(6)
					blockquote
						p: +lorem(40)
					p: +lorem(40)
					p: +lorem(40)

					h3: +lorem(6)
					p: +lorem(40)
					
					h4: +lorem(6)
					p: +lorem(40)

