.clearfix:before,
.row:before,
.cols:before,
.cols.cols-gutterx2:before,
.cols.cols-gutterx0:before,
.clearfix:after,
.row:after,
.cols:after,
.cols.cols-gutterx2:after,
.cols.cols-gutterx0:after {
  content: " ";
  display: table;
}
.clearfix:after,
.row:after,
.cols:after,
.cols.cols-gutterx2:after,
.cols.cols-gutterx0:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #eee;
}
body,
button,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
a,
button,
input,
textarea,
select {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
a {
  color: #7843c7;
  text-decoration: none;
}
a.a-classic {
  text-decoration: underline;
}
button:hover,
select:hover,
label:hover,
input[type='checkbox']:hover,
input[type='radio']:hover {
  cursor: pointer;
}
p {
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
h1,
.h1 {
  font-size: 30px;
  line-height: 30px;
}
@media (min-width: 480px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 720px) {
  h1,
  .h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
h2,
.h2 {
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 480px) {
  h2,
  .h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 720px) {
  h2,
  .h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
h3,
.h3 {
  font-size: 20px;
  line-height: 20px;
}
@media (min-width: 480px) {
  h3,
  .h3 {
    font-size: 30px;
    line-height: 30px;
  }
}
h4,
.h4 {
  font-size: 20px;
  line-height: 20px;
}
h5,
.h5 {
  font-size: 15px;
  line-height: 15px;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
img.img-ma {
  margin: 0 auto;
}
img.img-rad {
  border-radius: 5px;
}
img.img-circle {
  border-radius: 50%;
}
svg {
  display: block;
  max-width: 100%;
}
.table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.table-container table {
  width: 100%;
}
table {
  border-collapse: collapse;
  line-height: 20px;
  text-align: left;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
@media (min-width: 720px) {
  table td,
  table th {
    padding: 10px 15px;
  }
}
.limit {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}
.limit.limit-2 {
  max-width: 1000px;
}
.limit.limit-3 {
  max-width: 800px;
}
.inner {
  padding: 20px;
}
.inner.inner-half {
  padding: 20px 10px;
}
@media (min-width: 720px) {
  .inner.inner-2,
  .inner.inner-3,
  .inner.inner-4 {
    padding: 40px 20px;
  }
}
@media (min-width: 960px) {
  .inner.inner-3 {
    padding: 60px 20px;
  }
}
@media (min-width: 960px) {
  .inner.inner-4 {
    padding: 80px 20px;
  }
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.cols {
  margin-left: -10px;
  margin-right: -10px;
}
.cols>div {
  margin-bottom: 20px;
}
.cols:last-child {
  margin-bottom: -20px;
}
.cols.cols-gutterx0 {
  margin-left: 0;
  margin-right: 0;
}
.cols.cols-gutterx0>div {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.cols.cols-gutterx0:last-child {
  margin-bottom: 0;
}
@media (min-width: 960px) {
  .cols.cols-gutterx2 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .cols.cols-gutterx2>div {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
  .cols.cols-gutterx2:last-child {
    margin-bottom: -40px;
  }
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.6666666666667%;
}
.col-xs-10 {
  width: 83.3333333333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.6666666666667%;
}
.col-xs-7 {
  width: 58.3333333333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.6666666666667%;
}
.col-xs-4 {
  width: 33.3333333333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.6666666666667%;
}
.col-xs-1 {
  width: 8.3333333333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.6666666666667%;
}
.col-xs-pull-10 {
  right: 83.3333333333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.6666666666667%;
}
.col-xs-pull-7 {
  right: 58.3333333333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.6666666666667%;
}
.col-xs-pull-4 {
  right: 33.3333333333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.6666666666667%;
}
.col-xs-pull-1 {
  right: 8.3333333333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.6666666666667%;
}
.col-xs-push-10 {
  left: 83.3333333333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.6666666666667%;
}
.col-xs-push-7 {
  left: 58.3333333333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.6666666666667%;
}
.col-xs-push-4 {
  left: 33.3333333333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.6666666666667%;
}
.col-xs-push-1 {
  left: 8.3333333333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.6666666666667%;
}
.col-xs-offset-10 {
  margin-left: 83.3333333333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.6666666666667%;
}
.col-xs-offset-7 {
  margin-left: 58.3333333333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.6666666666667%;
}
.col-xs-offset-4 {
  margin-left: 33.3333333333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.6666666666667%;
}
.col-xs-offset-1 {
  margin-left: 8.3333333333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 480px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.6666666666667%;
  }
  .col-sm-10 {
    width: 83.3333333333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.6666666666667%;
  }
  .col-sm-7 {
    width: 58.3333333333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.6666666666667%;
  }
  .col-sm-4 {
    width: 33.3333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.6666666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.6666666666667%;
  }
  .col-sm-pull-10 {
    right: 83.3333333333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.6666666666667%;
  }
  .col-sm-pull-7 {
    right: 58.3333333333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.6666666666667%;
  }
  .col-sm-pull-4 {
    right: 33.3333333333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.6666666666667%;
  }
  .col-sm-pull-1 {
    right: 8.3333333333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.6666666666667%;
  }
  .col-sm-push-10 {
    left: 83.3333333333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.6666666666667%;
  }
  .col-sm-push-7 {
    left: 58.3333333333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.6666666666667%;
  }
  .col-sm-push-4 {
    left: 33.3333333333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.6666666666667%;
  }
  .col-sm-push-1 {
    left: 8.3333333333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.6666666666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.6666666666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.6666666666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.6666666666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.3333333333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 720px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.6666666666667%;
  }
  .col-md-10 {
    width: 83.3333333333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.6666666666667%;
  }
  .col-md-7 {
    width: 58.3333333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.6666666666667%;
  }
  .col-md-4 {
    width: 33.3333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.6666666666667%;
  }
  .col-md-1 {
    width: 8.3333333333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.6666666666667%;
  }
  .col-md-pull-10 {
    right: 83.3333333333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.6666666666667%;
  }
  .col-md-pull-7 {
    right: 58.3333333333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.6666666666667%;
  }
  .col-md-pull-4 {
    right: 33.3333333333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.6666666666667%;
  }
  .col-md-pull-1 {
    right: 8.3333333333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.6666666666667%;
  }
  .col-md-push-10 {
    left: 83.3333333333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.6666666666667%;
  }
  .col-md-push-7 {
    left: 58.3333333333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.6666666666667%;
  }
  .col-md-push-4 {
    left: 33.3333333333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.6666666666667%;
  }
  .col-md-push-1 {
    left: 8.3333333333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.6666666666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.6666666666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.6666666666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.6666666666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.6666666666667%;
  }
  .col-lg-10 {
    width: 83.3333333333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.6666666666667%;
  }
  .col-lg-7 {
    width: 58.3333333333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.6666666666667%;
  }
  .col-lg-4 {
    width: 33.3333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.6666666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.6666666666667%;
  }
  .col-lg-pull-10 {
    right: 83.3333333333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.6666666666667%;
  }
  .col-lg-pull-7 {
    right: 58.3333333333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.6666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.3333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.6666666666667%;
  }
  .col-lg-pull-1 {
    right: 8.3333333333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.6666666666667%;
  }
  .col-lg-push-10 {
    left: 83.3333333333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.6666666666667%;
  }
  .col-lg-push-7 {
    left: 58.3333333333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.6666666666667%;
  }
  .col-lg-push-4 {
    left: 33.3333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.6666666666667%;
  }
  .col-lg-push-1 {
    left: 8.3333333333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.6666666666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.6666666666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.6666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.6666666666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.3333333333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.none,
.none-sm,
.none-md,
.none-lg {
  display: none;
}
@media (min-width: 480px) {
  .none-sm {
    display: block;
  }
}
@media (min-width: 720px) {
  .none-md {
    display: block;
  }
}
@media (min-width: 960px) {
  .none-lg {
    display: block;
  }
}
@media (min-width: 480px) {
  .visible-sm {
    display: none;
  }
}
@media (min-width: 720px) {
  .visible-md {
    display: none;
  }
}
@media (min-width: 960px) {
  .visible-lg {
    display: none;
  }
}
.sep,
.sep-2,
.sep-3,
.sep-4 {
  height: 20px;
}
@media (min-width: 720px) {
  .sep,
  .sep-2,
  .sep-3,
  .sep-4 {
    height: 40px;
  }
}
@media (min-width: 960px) {
  .sep-3 {
    height: 60px;
  }
}
@media (min-width: 960px) {
  .sep-4 {
    height: 80px;
  }
}
.prop-1-1 {
  padding-bottom: 100%;
}
.prop-2-1 {
  padding-bottom: 50%;
}
.prop-4-3 {
  padding-bottom: 75%;
}
.prop-16-9 {
  padding-bottom: 56.25%;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}
@keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}
@-webkit-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
}
@keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes slideFadeLeft {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
}
@keyframes slideFadeLeft {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    opacity: 0;
  }
}
@-webkit-keyframes slideLeftOut {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideLeftOut {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes slideFadeRight {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes slideFadeRight {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes slideRightOut {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideRightOut {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
@-webkit-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes scaleFadeOut {
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes scaleFadeOut {
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  90% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  90% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
form input,
.form input,
form button,
.form button,
form select,
.form select,
form textarea,
.form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
  background: #fff;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
form input:focus,
.form input:focus,
form button:focus,
.form button:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus {
  border-color: #7843c7;
}
form input[type='checkbox'],
.form input[type='checkbox'],
form input[type='radio'],
.form input[type='radio'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 2px;
  margin-top: 2px;
  vertical-align: -5px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/icon-checked.png");
  background-position: center -20px;
  background-repeat: no-repeat;
}
form input[type='checkbox']:checked,
.form input[type='checkbox']:checked,
form input[type='radio']:checked,
.form input[type='radio']:checked {
  background-color: #7843c7;
  border-color: #7843c7;
  background-position: center center;
}
form input[type='radio'],
.form input[type='radio'] {
  border-radius: 15px;
}
form select,
.form select {
  background-image: url("../img/icon-select.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 40px;
  position: relative;
}
form textarea,
.form textarea {
  height: 200px;
  resize: none;
}
.controls.controls-center {
  margin: 0 auto;
  max-width: 400px;
}
.controls .control {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.controls .control:last-child {
  margin-bottom: 0;
}
.controls .control .control-name {
  padding-bottom: 5px;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  overflow: hidden;
}
.controls .control .control-name .control-message {
  display: inline;
  font-weight: bold;
  -webkit-animation: fadeIn 0.5s 0.1s ease backwards;
          animation: fadeIn 0.5s 0.1s ease backwards;
}
.controls .control .control-value {
  position: relative;
}
.controls .control .control-value label {
  display: block;
  padding: 5px;
  margin: 0 5px 0 -5px;
}
.controls .control .control-value label.label-inline {
  display: inline-block;
}
.controls .control.control-error .control-name {
  background: #eee;
  padding: 10px 10px;
}
.button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  width: auto;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  text-align: center;
  margin-bottom: 2px;
  vertical-align: middle;
  border-radius: 2px;
  background: #7843c7;
  color: #fff;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 20px;
}
.button.button-small {
  padding: 4px 20px;
  font-size: 12px;
  line-height: 18px;
}
.button.button-medium {
  padding: 8px 30px;
  font-size: 16px;
  line-height: 22px;
}
.button.button-big {
  padding: 10px 40px;
  font-size: 18px;
  line-height: 24px;
}
.button.button-white {
  background: #fff;
  color: #333;
}
.button.button-lighter {
  background: #eee;
  color: #333;
}
.button.button-light {
  background: #ddd;
  color: #333;
}
.button.button-gray {
  background: #999;
  color: #fff;
}
.button.button-dark {
  color: #fff;
  background: #333;
}
.button.button-black {
  color: #fff;
  background: #222;
}
.button.button-line {
  border-color: #ddd;
  background: transparent;
  color: #333;
}
.button.button-line-white {
  border-color: #fff;
  background: transparent;
  color: #fff;
}
.button.button-disabled,
.button[disabled] {
  background: #ddd;
  border-color: #ddd;
  color: #fff;
}
.button.button-disabled:hover,
.button[disabled]:hover {
  background: #ddd;
  border-color: #ddd;
  color: #fff;
  cursor: default;
}
.button:hover {
  border-color: #8556cd;
  background: #8556cd;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.button.button-color-2 {
  background: #0ca;
  color: #fff;
}
.button.button-color-2:hover,
.button.button-hover-2:hover {
  border-color: #00ebc4;
  background: #00ebc4;
  color: #fff;
}
.button.button-block {
  display: block;
  width: 100%;
}
.button.button-cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button .fa.fa-angle-right,
.button .fa.fa-chevron-right {
  margin-left: 10px;
}
.button .fa.fa-angle-left,
.button .fa.fa-chevron-left {
  margin-right: 10px;
}
.content {
  font-size: 15px;
  line-height: 26px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content p,
.content ol,
.content ul,
.content table,
.content blockquote,
.content pre {
  margin-bottom: 20px;
}
.content h1:last-child,
.content h2:last-child,
.content h3:last-child,
.content h4:last-child,
.content p:last-child,
.content ol:last-child,
.content ul:last-child,
.content table:last-child,
.content blockquote:last-child,
.content pre:last-child {
  margin-bottom: 0;
}
.content h1,
.content h2,
.content h3,
.content h4 {
  padding-top: 10px;
}
.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child {
  padding-top: 0;
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ol,
.content ul {
  margin-left: 20px;
}
.content ol li,
.content ul li {
  margin-bottom: 5px;
}
.content blockquote {
  padding: 10px 20px;
  padding-left: 40px;
  border-left: 2px solid #7843c7;
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
  position: relative;
}
.content blockquote:before {
  content: "\f10d";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 10px;
  opacity: 0.5;
  display: inline-block;
  padding-right: 2px;
}
.content pre {
  background: rgba(0,0,0,0.05);
  padding: 10px 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content img {
  opacity: 0;
}
@media (min-width: 480px) {
  .content img.alignright {
    float: right;
    margin-left: 20px;
  }
}
@media (min-width: 480px) {
  .content img.alignleft {
    float: left;
    margin-right: 20px;
  }
}
.content img.aligncenter {
  margin: 0 auto;
}
.content img.img-loaded {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  opacity: 1;
}
.content iframe {
  width: 100%;
  max-width: 100%;
  display: block;
  height: 200px;
}
@media (min-width: 480px) {
  .content iframe {
    height: 300px;
  }
}
@media (min-width: 720px) {
  .content iframe {
    height: 400px;
  }
}
.content a {
  text-decoration: none;
}
.content a:hover:not(.button) {
  text-decoration: underline;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  z-index: 100;
  display: none;
}
.alert.in {
  display: block;
}
.alert.out {
  -webkit-animation: fadeOut 0.2s ease both;
          animation: fadeOut 0.2s ease both;
}
.alert .alert-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  background: rgba(40,40,40,0.5);
}
.alert .alert-box {
  max-width: 600px;
  margin: 0 auto;
  -webkit-animation: slideFadeUp 0.5s ease;
          animation: slideFadeUp 0.5s ease;
  overflow: hidden;
}
.alert .alert-box .alert-inner {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
}
.alert .alert-box .alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #474747;
  color: #fff;
}
.alert .alert-box .alert-close .fa {
  vertical-align: 0;
}
.alert .alert-box .alert-close:hover {
  background: #7843c7;
}
.alert .alert-box .alert-title {
  margin-bottom: 10px;
}
.alert .alert-box .alert-content {
  margin-bottom: 15px;
}
.alert .alert-box .alert-buttons {
  text-align: center;
}
.alert .alert-box iframe {
  display: block;
  width: 100%;
}
.alert.alert-default {
  text-align: center;
}
.faq .faq-question:hover {
  cursor: pointer;
}
.faq .faq-answer {
  padding-bottom: 15px;
}
.map {
  position: relative;
  overflow: hidden;
}
.map .map-gmap {
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  top: -10%;
}
.map .map-zoom {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map .map-zoom .map-zoom-button {
  margin-left: 1px;
}
.map .map-marker {
  display: none;
}
.map .map-infowindow {
  max-width: 300px;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  -webkit-animation: fadeIn 0.8s ease;
          animation: fadeIn 0.8s ease;
  z-index: 250;
}
.loading.out {
  -webkit-animation: fadeOut 0.5s ease both;
          animation: fadeOut 0.5s ease both;
}
.loading svg {
  background: #7843c7;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: loaderRotate 2s linear infinite;
          animation: loaderRotate 2s linear infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.loading svg circle {
  -webkit-animation: loaderDash 2s ease-in-out infinite;
          animation: loaderDash 2s ease-in-out infinite;
  stroke-linecap: round;
  stroke-width: 2;
  stroke: #fff;
  fill: none;
}
@-webkit-keyframes loaderRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loaderRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loaderDash {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -20px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -120px;
  }
}
@keyframes loaderDash {
  0% {
    stroke-dasharray: 0, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -20px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -120px;
  }
}
.slider {
  position: relative;
  -webkit-animation: fadeIn 0.5s ease backwards;
          animation: fadeIn 0.5s ease backwards;
  overflow: hidden;
}
.slider .slider-slides-generate {
  display: none;
}
.slider .slider-slides {
  position: relative;
  overflow: hidden;
}
.slider .slide {
  opacity: 0;
  position: relative;
  overflow: hidden;
  display: none;
}
.slider .slide.slide-active {
  display: block;
  opacity: 1;
  z-index: 1;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
.slider .slide.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  z-index: 2;
  -webkit-animation: fadeOut 0.5s ease both;
          animation: fadeOut 0.5s ease both;
}
.slider .slider-bullets {
  position: absolute;
  bottom: 25px;
  z-index: 3;
  text-align: center;
  width: 100%;
}
.slider .slider-bullets .slider-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  display: inline-block;
  margin: 0 2px;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  opacity: 0.5;
}
.slider .slider-bullets .slider-bullet.slider-bullet-active {
  opacity: 1;
}
.slider .slider-bullets .slider-bullet:hover {
  cursor: pointer;
}
.slider .slider-navigation .slider-nav {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25px;
  color: #fff;
  z-index: 3;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  background: rgba(0,0,0,0.5);
  opacity: 0.5;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 720px) {
  .slider .slider-navigation .slider-nav {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
  }
}
.slider .slider-navigation .slider-nav .fa {
  vertical-align: middle;
  font-size: 20px;
}
.slider .slider-navigation .slider-nav.slider-nav-left {
  left: 20px;
}
.slider .slider-navigation .slider-nav.slider-nav-left .fa {
  margin-left: -5px;
}
.slider .slider-navigation .slider-nav.slider-nav-right {
  right: 20px;
}
.slider .slider-navigation .slider-nav.slider-nav-right .fa {
  margin-right: -5px;
}
.slider .slider-navigation .slider-nav:hover {
  cursor: pointer;
  opacity: 1;
}
.slider.slider-directional.slider-dir-left .slide.slide-active {
  -webkit-animation: slideRight 0.5s ease both;
          animation: slideRight 0.5s ease both;
}
.slider.slider-directional.slider-dir-left .slide.slide-out {
  -webkit-animation: slideRightOut 0.5s ease both;
          animation: slideRightOut 0.5s ease both;
}
.slider.slider-directional.slider-dir-right .slide.slide-active {
  -webkit-animation: slideLeft 0.5s ease both;
          animation: slideLeft 0.5s ease both;
}
.slider.slider-directional.slider-dir-right .slide.slide-out {
  -webkit-animation: slideLeftOut 0.5s ease both;
          animation: slideLeftOut 0.5s ease both;
}
.tabs .tabs-header .tab {
  padding: 10px 20px;
  display: inline-block;
  color: #333;
  opacity: 0.5;
}
.tabs .tabs-header .tab:hover {
  cursor: pointer;
  text-decoration: none;
}
.tabs .tabs-header .tab.tab-active {
  background: #fff;
  opacity: 1;
}
.tabs .tabs-body {
  background: #fff;
}
.tabs .tabs-body .tab {
  display: none;
}
.tabs .tabs-body .tab.tab-active {
  display: block;
}
.tooltip-parent {
  position: relative;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: block;
}
.tooltip .tooltip-content {
  width: 200px;
  position: absolute;
  padding: 10px;
  background: #333;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  display: none;
  -webkit-animation: fadeIn 0.2s ease;
          animation: fadeIn 0.2s ease;
}
.tooltip.tooltip-bottom .tooltip-content {
  left: 50%;
  top: 100%;
  margin-left: -100px;
  margin-top: 5px;
}
.tooltip.tooltip-bottom .tooltip-content:after {
  content: "";
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #333;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}
.tooltip.tooltip-top .tooltip-content {
  left: 50%;
  bottom: 100%;
  margin-left: -100px;
  margin-bottom: 5px;
}
.tooltip.tooltip-top .tooltip-content:after {
  content: "";
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #333;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
.tooltip:hover .tooltip-content {
  display: block;
}
.youtube {
  position: relative;
}
.youtube img {
  width: 100%;
}
.youtube .youtube-play {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  background: #333;
  color: #fff;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
.youtube .youtube-play .fa {
  margin-left: 2px;
}
.youtube .youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 0.5s ease backwards;
          animation: fadeIn 0.5s ease backwards;
  background: #222;
}
.youtube .youtube-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 1s 1s ease backwards;
          animation: fadeIn 1s 1s ease backwards;
}
.youtube .youtube-iframe .youtube-iframe-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #333;
  color: #fff;
}
.youtube .youtube-iframe .youtube-iframe-close:hover {
  background: #7843c7;
}
.youtube:hover {
  cursor: pointer;
}
.youtube:hover .youtube-play {
  background: #7843c7;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.youtube.youtube-playing .youtube-play {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.youtube.youtube-out .youtube-iframe {
  -webkit-animation: fadeOut 0.5s ease both;
          animation: fadeOut 0.5s ease both;
}
article {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
article:last-child {
  margin-bottom: 0;
}
article .article-image {
  background-color: #ddd;
  position: relative;
}
article .article-image img {
  width: 100%;
  opacity: 0;
}
article.article-loaded .article-image img {
  opacity: 1;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
article .article-body {
  padding: 20px;
}
article .article-cover {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
}
article .article-title a {
  display: block;
}
article .article-title a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article .article-title,
article .article-description {
  margin-bottom: 10px;
}
article .article-title:last-child,
article .article-description:last-child {
  margin-bottom: 0;
}
article .article-category {
  margin-bottom: 5px;
}
article .article-category a {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 2px 10px;
  background: #7843c7;
  color: #fff;
}
article .article-date {
  opacity: 0.5;
  margin-bottom: 5px;
}
article .article-shares a {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2px;
  padding: 0;
}
article.article-min {
  margin-bottom: 1px;
  padding: 10px;
}
article.article-min:last-child {
  margin-bottom: 0;
}
article.article-min .article-body {
  overflow: hidden;
  padding: 0;
}
article.article-min .article-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
article.article-min .article-image {
  float: left;
  width: 100px;
  margin-right: 10px;
}
@media (min-width: 720px) {
  article.article-min .article-image {
    width: 140px;
  }
}
article.article-bg {
  height: 500px;
  color: #fff;
  background: #333;
}
article.article-bg .article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article.article-bg .article-image:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: 10px;
  box-shadow: 0 0 200px 100px #222;
}
article.article-bg .article-title a {
  color: #fff;
}
#body {
  -webkit-animation: fadeIn 0.5s 0.2s ease backwards;
          animation: fadeIn 0.5s 0.2s ease backwards;
}
@media (min-width: 960px) {
  .dscroll,
  article.article-loaded.dscroll {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
  }
  .dscroll.dscroll-in,
  article.article-loaded.dscroll.dscroll-in {
    -webkit-animation: slideFadeUp 1s ease backwards;
            animation: slideFadeUp 1s ease backwards;
    opacity: 1;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center no-repeat;
  background-size: cover;
  opacity: 0;
}
.bg.bg-loaded {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  opacity: 1;
}
.bg img {
  display: none;
}
section {
  position: relative;
}
section.section-white {
  background-color: #fff;
}
section.section-lighter {
  background-color: #eee;
}
section.section-dark {
  background-color: #333;
  color: #fff;
}
section.section-black {
  background-color: #222;
  color: #fff;
}
section.section-color {
  background-color: #7843c7;
}
section.section-color-2 {
  background-color: #0ca;
}
.box {
  position: relative;
}
.box.box-white {
  background-color: #fff;
}
.box.box-lighter {
  background-color: #eee;
}
.box.box-dark {
  background-color: #333;
  color: #fff;
}
.box.box-black {
  background-color: #222;
  color: #fff;
}
.box.box-color {
  background-color: #7843c7;
  color: #fff;
}
.box.box-color-2 {
  background-color: #0ca;
  color: #fff;
}
.message {
  margin-bottom: 20px;
  background: #eee;
  border-radius: 2px;
  padding: 20px 30px;
}
footer {
  background: #222;
  color: #999;
}
footer .inner {
  overflow: hidden;
}
footer .footer-center {
  text-align: center;
}
footer .footer-left {
  float: left;
}
footer .footer-right {
  float: right;
}
header {
  top: 0;
  width: 100%;
  z-index: 10;
  background: #333;
  color: #fff;
  position: relative;
  height: 60px;
}
@media (min-width: 720px) {
  header {
    position: fixed;
    height: 80px;
  }
}
header .header-limit {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  padding: 0px 20px;
}
@media (min-width: 720px) {
  header .header-limit {
    padding: 10px 20px;
  }
}
header .header-left {
  float: left;
}
header .header-right {
  float: right;
}
header .header-logo a {
  display: block;
  padding: 20px 0;
  font-weight: bold;
  font-size: 200%;
  color: #fff;
  margin-right: 20px;
}
header .header-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100%;
  background: #222;
  z-index: 5;
  overflow: hidden;
  display: none;
}
header .header-nav.in {
  display: block;
  -webkit-animation: slideLeft 0.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
          animation: slideLeft 0.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
}
header .header-nav.out {
  display: block;
  -webkit-animation: slideRightOut 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: slideRightOut 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@media (min-width: 720px) {
  header .header-nav {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    background: none;
  }
}
@media (min-width: 720px) {
  header .header-nav .header-nav-back {
    display: none;
  }
}
header .header-nav ul li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
@media (min-width: 720px) {
  header .header-nav ul li {
    border-bottom: 0;
    display: inline-block;
    position: relative;
  }
  header .header-nav ul li:hover >ul {
    display: block;
  }
}
header .header-nav ul li a {
  padding: 20px;
  display: block;
  color: #fff;
}
header .header-nav ul li a .fa {
  opacity: 0.5;
  padding: 2px 0;
}
header .header-nav ul li a .fa.fa-angle-left {
  float: left;
  margin-right: 10px;
}
header .header-nav ul li a .fa.fa-angle-right {
  float: right;
  margin-left: 10px;
}
header .header-nav ul li ul {
  background: #7843c7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-animation: fadeIn 0.2s ease backwards;
          animation: fadeIn 0.2s ease backwards;
}
@media (min-width: 720px) {
  header .header-nav ul li ul {
    top: 100%;
    left: 0%;
    height: auto;
  }
}
header .header-nav ul li ul.in {
  display: block;
  -webkit-animation: slideLeft 0.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
          animation: slideLeft 0.5s cubic-bezier(0.77, 0, 0.175, 1) backwards;
}
header .header-nav ul li ul.out {
  display: block;
  -webkit-animation: slideRightOut 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: slideRightOut 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
header .header-nav ul li ul li {
  display: block;
}
@media (min-width: 720px) {
  header .header-nav ul li ul li {
    position: static;
  }
}
header .header-nav ul li ul li ul {
  background: #0ca;
}
@media (min-width: 720px) {
  header .header-nav ul li ul li ul {
    top: 0;
    left: 100%;
  }
}
header .header-hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 6;
  text-align: center;
  background: #333;
}
@media (min-width: 720px) {
  header .header-hamburger {
    display: none;
  }
}
header .header-menu-button {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  background: #333;
  display: block;
}
@media (min-width: 720px) {
  header .header-menu-button {
    display: none;
  }
}
header .header-menu {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 720px) {
  header .header-menu {
    display: none;
  }
}
header .header-menu .header-menu-inner {
  background: #292929;
  height: 100%;
  width: 320px;
  position: relative;
  max-width: 100%;
  margin: 0 0 0 auto;
}
header .header-menu .secretmenu-lvl {
  background: #333;
}
header .header-menu .header-menu-content ul li a {
  padding: 20px;
  display: block;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
header .header-menu .header-menu-content ul li ul {
  display: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0.5;
  display: none;
}
@media (min-width: 720px) {
  #body {
    padding-top: 80px;
  }
}
.page .page-header {
  position: relative;
  background: #7843c7;
  color: #fff;
}
.page .page-header .page-header-bg.bg.bg-loaded {
  opacity: 0.2;
}
.page .page-header .page-header-title:last-child {
  margin-bottom: 0;
}
.page .page-body {
  position: relative;
}
.pagination {
  text-align: center;
}
.pagination ul li {
  display: inline-block;
}
.pagination a,
.pagination span {
  padding: 10px 15px;
  background-color: #fff;
  color: #999;
  display: inline-block;
}
.pagination a:hover,
.pagination span:hover {
  color: #7843c7;
}
.pagination a.active,
.pagination span.active,
.pagination a.current,
.pagination span.current {
  background-color: #7843c7;
  color: #fff;
}
.pagination a .fa,
.pagination span .fa {
  padding: 0;
}
.pagination li.active a,
.pagination li.current a {
  background-color: #7843c7;
  color: #fff;
}
.share {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.share:before {
  font-family: "FontAwesome";
}
.share.share-facebook {
  background-color: #3b5998;
}
.share.share-facebook:before {
  content: "\f09a";
}
.share.share-facebook:hover {
  background-color: #4366ae;
}
.share.share-twitter {
  background-color: #00aced;
}
.share.share-twitter:before {
  content: "\f099";
}
.share.share-twitter:hover {
  background-color: #09bcff;
}
.share.share-instagram {
  background-color: #517fa4;
}
.share.share-instagram:before {
  content: "\f16d";
}
.share.share-instagram:hover {
  background-color: #5f8cb0;
}
.share.share-linkedin {
  background-color: #007bb6;
}
.share.share-linkedin:before {
  content: "\f0e1";
}
.share.share-linkedin:hover {
  background-color: #0091d7;
}
.share.share-googleplus {
  background-color: #dd4b39;
}
.share.share-googleplus:before {
  content: "\f0d5";
}
.share.share-googleplus:hover {
  background-color: #e05d4d;
}
.share.share-whatsapp {
  background-color: #4dc247;
}
.share.share-whatsapp:before {
  content: "\f232";
}
.share.share-whatsapp:hover {
  background-color: #5fc859;
}
.share.share-pinterest {
  background-color: #cb2027;
}
.share.share-pinterest:before {
  content: "\f231";
}
.share.share-pinterest:hover {
  background-color: #dd2931;
}
.single {
  background: #fff;
  padding: 20px;
}
@media (min-width: 960px) {
  .single {
    padding: 40px;
  }
}
.single .single-shares {
  margin-top: 20px;
}
