* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
}
body,
button,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 20px;
}
a,
button,
input,
textarea,
select {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
a {
  color: #0fc;
  text-decoration: none;
}
a,
input,
button,
select {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
button:hover,
select:hover,
input[type='submit']:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 50px;
}
@media all and (max-width:959px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media all and (max-width:719px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
h2 {
  font-size: 25px;
  line-height: 25px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 10px;
}
table th {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overflow {
  overflow: hidden;
}
.none {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.limit {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}
.inner {
  padding: 20px;
}
@media all and (max-width:479px) {
  .inner {
    padding: 10px;
  }
}
.nomobile {
  display: block;
}
.mobile {
  display: none;
}
@media all and (max-width:479px) {
  .nomobile {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.in {
  display: block;
  -webkit-animation: fadeIn 0.5s ease both;
          animation: fadeIn 0.5s ease both;
}
.in.out {
  -webkit-animation: fadeOut 0.5s ease both;
          animation: fadeOut 0.5s ease both;
}
.cols {
  overflow: hidden;
  margin: 0 0 -20px -20px;
}
.cols .col .col-inner {
  margin: 0 0 20px 20px;
}
.cols.cols-halfsep {
  margin: 0 0 -10px -10px;
}
.cols.cols-halfsep .col .col-inner {
  margin: 0 0 10px 10px;
}
.cols.cols-doublesep {
  margin: 0 0 -40px -40px;
}
.cols.cols-doublesep .col .col-inner {
  margin: 0 0 40px 40px;
}
.cols.cols-nosep {
  margin: 0;
}
.cols.cols-nosep .col .col-inner {
  margin: 0;
}
.cols.cols-nobp .col,
.cols .col {
  float: left;
  width: 100%;
}
.cols.cols-nobp .col.col-20,
.cols .col.col-20 {
  width: 20%;
}
.cols.cols-nobp .col.col-25,
.cols .col.col-25 {
  width: 25%;
}
.cols.cols-nobp .col.col-30,
.cols .col.col-30 {
  width: 30%;
}
.cols.cols-nobp .col.col-33,
.cols .col.col-33 {
  width: 33.33%;
}
.cols.cols-nobp .col.col-40,
.cols .col.col-40 {
  width: 40%;
}
.cols.cols-nobp .col.col-50,
.cols .col.col-50 {
  width: 50%;
}
.cols.cols-nobp .col.col-60,
.cols .col.col-60 {
  width: 60%;
}
.cols.cols-nobp .col.col-66,
.cols .col.col-66 {
  width: 66.66%;
}
.cols.cols-nobp .col.col-70,
.cols .col.col-70 {
  width: 70%;
}
.cols.cols-nobp .col.col-75,
.cols .col.col-75 {
  width: 75%;
}
.cols.cols-nobp .col.col-80,
.cols .col.col-80 {
  width: 80%;
}
@media all and (max-width:959px) {
  .cols .col.col-20,
  .cols .col.col-25,
  .cols .col.col-30,
  .cols .col.col-33 {
    width: 50%;
  }
  .cols .col.col-66,
  .cols .col.col-70,
  .cols .col.col-75,
  .cols .col.col-80 {
    width: 100%;
  }
  .cols .col.col-to-100 {
    width: 100%;
  }
}
@media all and (max-width:719px) {
  .cols .col.col-40,
  .cols .col.col-50,
  .cols .col.col-60 {
    width: 100%;
  }
}
@media all and (max-width:479px) {
  .cols .col.col-20,
  .cols .col.col-25,
  .cols .col.col-30,
  .cols .col.col-33 {
    width: 100%;
  }
  .cols {
    margin-bottom: -10px;
  }
  .cols .col .col-inner {
    margin-bottom: 10px;
  }
}
.cols.cols-bk .col {
  width: 100%;
}
@media all and (max-width:959px) {
  .cols.cols-bk .col {
    width: 50%;
  }
}
@media all and (max-width:719px) {
  .cols.cols-bk .col {
    width: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes slideFadeUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideUpOut {
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slideDownOut {
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes slideLeftOut {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideLeftOut {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes slideMiddleLeft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes slideMiddleLeft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes slideRightOut {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slideRightOut {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes slideMiddleRight {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes slideMiddleRight {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scaleOut {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes scaleFadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  40% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  90% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  90% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  90% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.secretmenu-container {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media all and (max-width:719px) {
  .secretmenu-container {
    position: absolute;
    overflow: hidden;
  }
}
.secretmenu-container .secretmenu-container-front {
  background: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.secretmenu-container .secretmenu-container-back {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  display: none;
}
.secretmenu-container .secretmenu-container-back .secretmenu {
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
  -webkit-animation: slideRight 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
          animation: slideRight 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
}
.secretmenu-container .secretmenu-container-back .secretmenu.out {
  -webkit-animation: slideLeftOut 0.6s cubic-bezier(0.77, 0, 0.175, 1) both;
          animation: slideLeftOut 0.6s cubic-bezier(0.77, 0, 0.175, 1) both;
}
.secretmenu-container .secretmenu-container-back .secretmenu ul li a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.secretmenu-container .secretmenu-container-back .secretmenu ul li a.secretmenu-parent .fa {
  float: right;
  padding-top: 4px;
}
.secretmenu-container .secretmenu-container-back .secretmenu ul li ul {
  display: none;
}
.secretmenu-container .secretmenu-container-back .secretmenu:last-child {
  background: #444;
}
.secretmenu-container .secretmenu-container-front,
.secretmenu-container .secretmenu-translate {
  -webkit-transition: 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1);
          transition: 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}
@media all and (max-width:719px) {
  body.secretmenu-in .secretmenu-container-back {
    display: block;
  }
  body.secretmenu-in.secretmenu-left .secretmenu-container-back {
    left: 0;
  }
  body.secretmenu-in.secretmenu-left .secretmenu-container-back .secretmenu.secretmenu-lvl-1 {
    -webkit-animation: slideMiddleLeft 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
            animation: slideMiddleLeft 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
  }
  body.secretmenu-in.secretmenu-left .secretmenu-container-front,
  body.secretmenu-in.secretmenu-left .secretmenu-translate {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px);
  }
  body.secretmenu-in.secretmenu-right .secretmenu-container-back {
    right: 0;
  }
  body.secretmenu-in.secretmenu-right .secretmenu-container-back .secretmenu.secretmenu-lvl-1 {
    -webkit-animation: slideMiddleRight 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
            animation: slideMiddleRight 0.6s 0.1s cubic-bezier(0.77, 0, 0.175, 1) backwards;
  }
  body.secretmenu-in.secretmenu-right .secretmenu-container-front,
  body.secretmenu-in.secretmenu-right .secretmenu-translate {
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  body.secretmenu-in.secretmenu-out .secretmenu-container-front,
  body.secretmenu-in.secretmenu-out .secretmenu-translate {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.secretmenu-button {
  position: absolute;
  top: 0;
  left: 0;
  background: primary_color;
  width: 50px;
  height: 50px;
  display: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
.secretmenu-button .secretmenu-button-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 16px;
  margin-left: -12px;
  margin-top: -8px;
}
.secretmenu-button .secretmenu-button-bars .secretmenu-button-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
}
.secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(1) {
  top: 0;
}
.secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(3) {
  bottom: 0;
}
body.secretmenu-in .secretmenu-button .secretmenu-button-bars .secretmenu-button-bar {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
body.secretmenu-in .secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(2) {
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
}
body.secretmenu-in .secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
body.secretmenu-in .secretmenu-button .secretmenu-button-bars .secretmenu-button-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
      -ms-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}
form input,
.form input,
form button,
.form button,
form select,
.form select,
form textarea,
.form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px 10px;
  vertical-align: top;
  background: #fff;
  margin-bottom: 1px;
  border-radius: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form input:hover,
.form input:hover,
form button:hover,
.form button:hover,
form select:hover,
.form select:hover,
form textarea:hover,
.form textarea:hover,
form input:focus,
.form input:focus,
form button:focus,
.form button:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus {
  border-color: #999;
}
form label:hover input,
.form label:hover input,
form label:hover button,
.form label:hover button,
form label:hover select,
.form label:hover select,
form label:hover textarea,
.form label:hover textarea {
  border-color: #999;
}
form select,
.form select {
  background: url("../img/icon-select.png") right center no-repeat transparent;
}
form textarea,
.form textarea {
  height: 100px;
  -webkit-transition: height 0.2s ease;
          transition: height 0.2s ease;
  resize: none;
}
form .input-checkbox,
.form .input-checkbox,
form .input-radio,
.form .input-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 2px;
  margin-top: 2px;
  background: url("../img/icon-checked.png") center -20px no-repeat transparent;
}
form .input-checkbox:checked,
.form .input-checkbox:checked,
form .input-radio:checked,
.form .input-radio:checked {
  background-color: #0fc;
  border-color: #0fc;
  background-position: center center;
}
form .input-radio,
.form .input-radio {
  border-radius: 15px;
}
form .input-number,
.form .input-number {
  position: relative;
  width: 100px;
}
form .input-number .input-number-button,
.form .input-number .input-number-button {
  position: absolute;
  right: 0;
  padding: 0;
  width: 30px;
  height: 50%;
  text-align: center;
  background: #ccc;
}
form .input-number .input-number-button.input-number-more,
.form .input-number .input-number-button.input-number-more {
  top: 0;
}
form .input-number .input-number-button.input-number-less,
.form .input-number .input-number-button.input-number-less {
  bottom: 0;
}
form .input-number .input-number-button:hover,
.form .input-number .input-number-button:hover {
  background: #0fc;
}
.controls .control {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
.controls .control .control-name {
  margin-bottom: 5px;
}
.controls .control .control-value label {
  display: block;
  padding: 5px;
}
.controls .control .control-value label:first-child {
  padding-left: 0;
}
.controls .control .control-value label.inline {
  display: inline-block;
}
.controls .control .control-message {
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
  line-height: 0px;
  opacity: 0;
}
.controls .control .control-message.in {
  line-height: 20px;
  opacity: 1;
}
.controls .control .control-message.in.out {
  line-height: 0px;
  opacity: 0;
}
.controls .control-error input,
.controls .control-error select,
.controls .control-error textarea {
  border-color: #d00;
}
.controls .control-error .control-message {
  color: #d00;
  margin-top: 5px;
}
.controls.controls-center {
  margin: 0 auto;
  max-width: 400px;
}
.controls.controls-layout .control .control-name,
.controls.controls-layout .control .control-value {
  float: left;
}
.controls.controls-layout .control .control-name {
  width: 100px;
  text-align: right;
  padding-right: 20px;
  padding-top: 8px;
}
.controls.controls-layout .control .control-name.control-name-2lines {
  padding-top: 0;
  line-height: 18px;
}
.controls.controls-layout .control .control-value {
  width: 280px;
}
@media all and (max-width:719px) {
  .controls.controls-layout .control .control-name,
  .controls.controls-layout .control .control-value {
    float: none;
    width: auto;
  }
  .controls.controls-layout .control .control-name {
    padding: 0;
    text-align: left;
  }
  .controls.controls-layout .control .control-name.control-name-2lines {
    line-height: inherit;
  }
}
.button,
.button.button {
  font-family: 'Open Sans', sans-serif;
  border-radius: rad2;
  text-decoration: none;
  display: inline-block;
  border: 0;
  width: auto;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
  text-align: center;
  margin-bottom: 2px;
  vertical-align: middle;
  background: #ddd;
  color: #999;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 15px;
}
.button:hover,
.button.button:hover {
  cursor: pointer;
  color: #fff;
  background: #0fc;
  text-decoration: none;
}
.button.button-primary,
.button.button.button-primary {
  color: #fff;
  background: #0fc;
}
.button.button-primary:hover,
.button.button.button-primary:hover {
  background: #1affd1;
}
.button.button-secondary,
.button.button.button-secondary {
  color: #fff;
  background: #0ff;
}
.button.button-secondary:hover,
.button.button.button-secondary:hover {
  background: #1affff;
}
.button.button-dark,
.button.button.button-dark {
  color: #fff;
  background: #444;
}
.button.button-dark:hover,
.button.button.button-dark:hover {
  background: #0fc;
}
.button.button-line,
.button.button.button-line {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.button.button-line:hover,
.button.button.button-line:hover {
  background: #0fc;
  border-color: #0fc;
}
.button.button-disabled,
.button.button.button-disabled {
  background: #ddd;
  border-color: #ddd;
}
.button.button-disabled:hover,
.button.button.button-disabled:hover {
  background: #ddd;
  border-color: #ddd;
  cursor: default;
}
.button.button-small,
.button.button.button-small {
  font-size: 14px;
  line-height: 14px;
  padding: 6px 10px;
}
.button.button-medium,
.button.button.button-medium {
  font-size: 18px;
  line-height: 18px;
  padding: 10px 22px;
}
.button.button-big,
.button.button.button-big {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 25px;
}
.content {
  font-size: 15px;
  line-height: 24px;
}
.content h1 {
  margin-bottom: 15px;
}
.content h2,
.content h3,
.content h4 {
  padding-top: 10px;
  margin-bottom: 15px;
}
.content p,
.content ol,
.content ul,
.content table {
  margin-bottom: 15px;
}
.content img,
.content iframe {
  max-width: 100%;
  display: block;
}
.content iframe {
  width: 100%;
}
@media all and (max-width:479px) {
  .content iframe {
    height: 200px;
  }
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ol,
.content ul {
  margin-left: 30px;
}
.content ol li,
.content ul li {
  margin-bottom: 5px;
}
.content blockquote {
  padding: 15px 15px 1px 35px;
  background: url("../img/icon-cite.png") 15px 15px no-repeat #fff;
  border-left: 2px solid secondary_color;
  font-size: 1.2em;
  line-height: 1.25em;
  font-style: italic;
  margin-bottom: 15px;
}
.content .important {
  background: #ffc;
  padding: 15px 15px 1px;
  margin-bottom: 15px;
}
.content a {
  text-decoration: none;
  color: #0ff;
}
.content a:hover {
  text-decoration: underline;
}
.content img.alignright {
  float: right;
  margin-left: 20px;
}
.content img.alignleft {
  float: left;
  margin-right: 20px;
}
.content img.aligncenter {
  margin: 0 auto;
}
body.alert-in {
  overflow: hidden;
}
.equidist {
  position: absolute;
  top: 0;
  left: 0;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  z-index: 100;
  display: none;
}
.alert .button {
  padding: 7px 20px 5px;
}
.alert.in {
  display: block;
}
.alert.out {
  -webkit-animation: fadeOut 0.2s ease both;
          animation: fadeOut 0.2s ease both;
}
.alert .alert-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.alert .alert-box {
  max-width: 800px;
  -webkit-animation: slideFadeUp 0.5s ease;
          animation: slideFadeUp 0.5s ease;
}
.alert .alert-box .alert-inner {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
}
.alert .alert-box .alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 28px;
  background: #444;
  color: #fff;
}
.alert .alert-box .alert-close:hover {
  background: #0fc;
}
.alert .alert-box .alert-title {
  margin: 0;
  color: #0fc;
}
.alert .alert-box .alert-content {
  padding-top: 15px;
  overflow: hidden;
}
.alert .alert-box .alert-buttons {
  text-align: center;
  padding-top: 15px;
}
.alert .alert-box iframe {
  width: 100%;
}
.alert.alert-default {
  text-align: center;
}
.map {
  position: relative;
}
.map .map-gmap {
  height: 400px;
}
.map .map-zoom {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map .map-zoom .map-zoom-button {
  margin-left: 1px;
}
.map .map-marker {
  display: none;
}
.map .map-infowindow {
  max-width: 300px;
}
.scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.scroll .iScrollVerticalScrollbar {
  width: 5px;
  position: absolute;
  top: 2.5%;
  height: 95%;
  right: 5px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
.scroll .iScrollVerticalScrollbar .iScrollIndicator {
  background: primary_color;
  border-radius: 5px;
}
.scroll:hover .iScrollVerticalScrollbar {
  opacity: 0.5;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
  z-index: 250;
}
.loading.out {
  -webkit-animation: fadeOut 0.5s ease both;
          animation: fadeOut 0.5s ease both;
}
.loading .loading-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #0fc;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: scaleIn 0.4s 0.5s ease backwards;
          animation: scaleIn 0.4s 0.5s ease backwards;
  margin-left: -25px;
  margin-top: -25px;
}
.loading .loading-icon .loading-icon-circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 13px;
  border: 2px solid #fff;
}
.loading .loading-icon .loading-icon-circle div {
  background: #0fc;
  width: 6px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: rotate360 1.5s linear infinite;
          animation: rotate360 1.5s linear infinite;
}
body.is-ie .loading .loading-icon {
  background: url("../img/loader.gif") center center no-repeat #0fc;
}
body.is-ie .loading .loading-icon .loading-icon-circle {
  display: none;
}
.royalSlider {
  position: relative;
}
.rsThumbs .rsThumbsContainer {
  padding-top: 5px;
}
.rsThumbs .rsThumbsContainer .rsThumb {
  float: left;
  height: 75px;
  width: 110px;
  background: primary_color;
  overflow: hidden;
}
.rsThumbs .rsThumbsContainer .rsThumb img {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
.rsThumbs .rsThumbsContainer .rsThumb.rsNavSelected img {
  opacity: 0.25;
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 100 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0,0,0,0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.rsVideoContainer {
/*left: 0;
	top: 0;
	position: absolute;*/
/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: 0.3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  -webkit-backface-visibility: hidden;
}
.grab-cursor {
  cursor: url("grab.png") 8 8, move;
}
.grabbing-cursor {
  cursor: url("grabbing.png") 8 8, move;
}
.rsNoDrag {
  cursor: auto;
}
.tooltip-parent {
  position: relative;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: block;
}
.tooltip:hover .tooltip-container {
  display: block;
}
.tooltip .tooltip-container {
  width: 200px;
  position: absolute;
  display: none;
  -webkit-animation: fadeIn 0.2s ease;
          animation: fadeIn 0.2s ease;
}
.tooltip .tooltip-container .tooltip-triangle {
  border: 5px solid transparent;
  position: absolute;
  display: block;
}
.tooltip .tooltip-container .tooltip-content {
  padding: 10px;
  background: #444;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: relative;
}
.tooltip.tooltip-bottom .tooltip-container {
  left: 50%;
  top: 100%;
}
.tooltip.tooltip-bottom .tooltip-container .tooltip-content {
  margin-top: 5px;
  left: -100px;
}
.tooltip.tooltip-bottom .tooltip-container .tooltip-triangle {
  border-bottom-color: #444;
  left: -5px;
  top: -5px;
}
.tooltip.tooltip-top .tooltip-container {
  left: 50%;
  bottom: 100%;
}
.tooltip.tooltip-top .tooltip-container .tooltip-content {
  margin-bottom: 5px;
  left: -100px;
}
.tooltip.tooltip-top .tooltip-container .tooltip-triangle {
  border-top-color: #444;
  left: -5px;
  bottom: -5px;
}
header nav ul {
  padding: 0 15px;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: block;
  padding: 25px 10px;
}
header nav ul li a .fa {
  display: none;
}
header nav ul li ul {
  display: none;
}
header .header-top {
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
header .header-top .inner {
  background: #444;
  padding: 0;
  height: 70px;
}
header .header-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
header .header-left .limit {
  height: 100%;
}
header .header-left .inner {
  width: 260px;
  padding: 0;
  position: relative;
  height: 100%;
  background: #ddd;
  padding-top: 70px;
}
header .header-left ul {
  padding: 0;
}
header .header-left ul li {
  display: block;
}
header .header-left ul li a {
  display: block;
  padding: 15px 25px;
  color: #444;
}
#body {
  padding-top: 70px;
  position: relative;
  z-index: 4;
}
#body.body-left {
  padding-left: 260px;
}
@media all and (max-width:719px) {
  header .secretmenu-button {
    display: block;
  }
  header .header-top .inner {
    height: 50px;
  }
  header .header-top ul {
    margin-left: 50px;
  }
  header .header-top ul li a {
    display: block;
    padding: 15px 10px;
  }
  header .header-left {
    display: none;
  }
  #body {
    padding-top: 50px;
  }
  #body.body-left {
    padding-left: 0;
  }
}
.secretmenu a {
  padding: 15px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.secretmenu a .fa {
  font-size: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiIiwic291cmNlcyI6WyJtYWluLnN0eWwiXSwic291cmNlc0NvbnRlbnQiOlsiXG5AaW1wb3J0ICd2YXJzLnN0eWwnXG5AaW1wb3J0ICdmdW5jdGlvbnMuc3R5bCdcblxuQGltcG9ydCAnY29yZS9nbG9iYWwuc3R5bCdcbkBpbXBvcnQgJ2NvcmUvbGF5b3V0LnN0eWwnXG5AaW1wb3J0ICdjb3JlL2FuaW1hdGlvbnMuc3R5bCdcbkBpbXBvcnQgJ2NvcmUvc2VjcmV0bWVudS5zdHlsJ1xuQGltcG9ydCAnY29yZS9mb3Jtcy5zdHlsJ1xuQGltcG9ydCAnY29yZS9idXR0b25zLnN0eWwnXG5AaW1wb3J0ICdjb3JlL2NvbnRlbnQuc3R5bCdcblxuQGltcG9ydCAnY29tcG9uZW50cy8qJ1xuQGltcG9ydCAnc2l0ZS8qJ1xuXG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */