
extends ./templates/default.jade

block vars
	- COMPONENT_GMAPS = true

block page

	.page

		.page-header.lighter
			.limit
				.inner.inner-4
					h1 Base Front Demo

		.page-body

			section.section-white
				.limit
					.inner.inner-2
						.content
				
							h2 Layout
							.cols
								+col(33,"to100","right")
									.inner.lighter .col.col-33
								+col(66)
									.inner.lighter .col.col-66
								+col(50,"nobreak")
									.inner.lighter .col.col-50.col-nobreak
								+col(50,"nobreak")
									.inner.lighter .col.col-50.col-nobreak
								+col(25)
									.inner.lighter .col.col-25
								+col(25)
									.inner.lighter .col.col-25
								+col(25)
									.inner.lighter .col.col-25
								+col(25)
									.inner.lighter .col.col-25
								+col(20)
									.inner.lighter .col.col-20
								+col(20)
									.inner.lighter .col.col-20
								+col(20)
									.inner.lighter .col.col-20
								+col(20,"nobreak1")
									.inner.lighter .col.col-20.col-nobreak1
								+col(20,"nobreak1")
									.inner.lighter .col.col-20.col-nobreak1
								
							.sep
							h2 Columnas activas bajo break point 3
							.cols
								+col("60-break3")
									.inner.lighter .col.col-60-break3
								+col("40-break3")
									.inner.lighter .col.col-40-break3

			section.section-white
				.limit
					.inner.inner-2
						.content
				
							h2 Botones

							h4 Configuraciones:
							pre.
								button, button-small, button-medium, button-big
								button-color-2, button-white, button-light, button-gray, button-dark, button-line, button-line-white, button-hover-2

							mixin demoButtons(variant)
								a(href="#",class="button button-small "+variant) Lorem ipsum
								| 
								a(href="#",class="button "+variant) Lorem ipsum
								| 
								a(href="#",class="button button-medium "+variant) Lorem ipsum
								| 
								a(href="#",class="button button-big "+variant) Lorem ipsum

							h4 Normal:
							+demoButtons()

							h4 Lighter:
							+demoButtons("button-lighter")

							h4 Light:
							+demoButtons("button-light")

							h4 Gray:
							+demoButtons("button-gray")

							h4 Dark:
							+demoButtons("button-dark")

							h4 Black + hover 2:
							+demoButtons("button-black hover-2")

							h4 Line:
							+demoButtons("button-line")

							h4 Color 2:
							+demoButtons("button-color-2")

							h4 White:
							.inner.dark
								+demoButtons("button-white")

							h4 Line:
							.inner.dark
								+demoButtons("button-line-white")



			section.section-white
				.limit
					.inner.inner-2
						.content

							h2 Alertas

							h4 Simple:
							pre.
								a(href="#",data-alert="Hola") Simple
								a(href="#",data-alert="Hola") Simple
								div(data-alert,data-title="Hola",data-content="¡Exito!")

							h4 Con contenido:
							pre.
								a(href="#",data-alert="Hola") Link
								a(href="#",data-alert="Hola",data-content="¿Seguro que quieres hacer esto?") Link

							h4 Lanzar al tiro:
							pre.
								div(data-alert,data-title="Hola",data-content="¡Exito!")
							
							h4 Demo:
							a.button(href="#",data-alert="Hola",data-content="¿Seguro que quieres hacer esto?") Abrir alerta


			section.section-lighter
				.limit
					.inner.inner-2
						.content

							h2 Tabs
							
							.tabs
								.tabs-header
									a.tab(href='#'): +lorem(2)
									a.tab(href='#'): +lorem(2)
								.tabs-body
									.tab
										.inner
											p: +lorem(40)
									.tab
										.inner
											p: +lorem(40)



			section.section-white
				.limit
					.inner.inner-2
						.content
							h2 FAQ
							
							h4 Jade:

							pre.
								.faq
									.faq-item.faq-open
										h3.faq-question: +lorem(5)
										.faq-answer
											p: +lorem(40)
									.faq-item
										h3.faq-question: +lorem(5)
										.faq-answer
											p: +lorem(40)
									.faq-item
										h3.faq-question: +lorem(5)
										.faq-answer
											p: +lorem(40)

							h4 Demo:

							.faq
								.faq-item.faq-open
									h3.faq-question: +lorem(5)
									.faq-answer
										p: +lorem(40)
								.faq-item
									h3.faq-question: +lorem(5)
									.faq-answer
										p: +lorem(40)
								.faq-item
									h3.faq-question: +lorem(5)
									.faq-answer
										p: +lorem(40)



			section.section-lighter
				.limit
					.inner.inner-2
						.content

							h2 Tablas

							.table-container
								table
									tr
										+loop(8)
											th: +lorem(1)
									+loop(5)
										tr
											+loop(8)
												td: +lorem(2)
		
						.sep
						nav.pagination
							ul
								li: a(href="#"): span.fa.fa-angle-double-left
								li: a(href="#"): span.fa.fa-angle-left
								li: a(href="#") 1
								li: a(href="#") 2
								li.active: a(href="#") 3
								li: a(href="#") 4
								li: a(href="#") 5
								li: a(href="#"): span.fa.fa-angle-right
								li: a(href="#"): span.fa.fa-angle-double-right

			section.section-white
				.limit
					.inner.inner-2
						.content

							h2 Tooltips
							
							h4 Jade:
							pre.
								a(href="#",data-tooltip="Lorem ipsum") Lorem
							pre.
								a(href="#",data-tooltip="Lorem ipsum",data-tooltip-position="top") Lorem

							h4 Demo:
							|  Lorem ipsum dolor sit amet, consectetur. Repellat eligendi enim 
							a(href="#",data-tooltip="Ose helou!") lorem
							|  recusandae voluptatum commodi quisquam quibusdam perspiciatis veritatis et excepturi dignissimos maxime, mollitia deserunt reprehenderit, quae ipsa itaque corporis laboriosam a facere. Debitis, dolore 
							a(href="#",data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit.",data-tooltip-position="top") ipsum dolor
							|  perspiciatis veritatis et excepturi dignissimos maxime, mollitia deserunt reprehenderit, quae ipsa itaque corporis laboriosam a facere.






			section.section-lighter
				.limit
					.inner.inner-2

						h2 Formularios
						.white.inner.inner-2

							form.controls.controls-center.validate(method='POST', action='')
								+control("text","name","Nombre")
								+control("email","email","Email")
								+control("text","rut","RUT")									
								+control("text","dob","Fecha de nacimiento")
								+control("text","phone","Teléfono")
								+control("select","region","Región")
								+control("select","city","Ciudad")
								+control("textarea","message","Mensaje")
								+control("password","password","Contraseña")
								+control("password","password_repeat","Repetir contraseña")(data-repeat="password")
								+control("radio","gender","Sexo",{"m":"Masculino","f":"Femenino"})
								+control("checkbox","terms","",{"true":"Acepto los términos legales"})
								.right
									button.button.button-medium Enviar
										span.fa.fa-angle-right

			section.section-white
				.limit
					.inner.inner-2
						.content

							h2 Loading

							h4 Jade:
							pre.
								div(data-loading)

							h4 Demo:
							a.button.loading-test(href="#") Abrir loader






			section.section-lighter
				.limit
					.inner.inner-2
						.content
				
							h2 Proportional element

							h4 Jade:
							pre .prop
							pre .prop.prop-2-1
							pre .prop.prop-4-3
							pre .prop.prop-16-9

							h4 Demos:

							.cols
								.col.col-25
									.prop.white
										.cover: .inner Prop 1:1

								.col.col-25
									.prop.prop-2-1.white
										.cover: .inner Prop 2:1

								.col.col-25
									.prop.prop-4-3.white
										.cover: .inner Prop 4:3

								.col.col-25
									.prop.prop-16-9.white
										.cover: .inner Prop 16:9




			section.section-white
				.limit
					.inner.inner-2
						.content
				
							h2 Mostrar en scroll
							p Display scroll = dscroll

							h4 Jade:
							pre.
								.prop.gray.dscroll

							h4 Demos:
							
							+cols(4,25)
								article.prop.gray.dscroll

			section.section-lighter
				.limit
					.inner.inner-2
						.content
				
							h2 Slider

							h4 Jade:
							pre.
								.slider
									.slider-slides
										.slide
											.prop.prop-2-1
												| Contenido
										.slide
											.prop.prop-2-1
												| Contenido
										.slide
											.prop.prop-2-1
												| Contenido
							pre.

								.slider.slider-content.slider-directional
									.slider-slides
									.slider-slides-generate(data-items="4",data-selector=".col")
										.cols
											.col.col-25
												| Contenido
											.col.col-25
												| Contenido
											.col.col-25
												| Contenido
											.col.col-25
												| Contenido
											.col.col-25
												| Contenido
											.col.col-25
												| Contenido

							h4 Demos:


						.slider
							.slider-slides
								.slide
									.prop.prop-2-1.gray
										.cover: .va.center 1
								.slide
									.prop.prop-2-1.color
										.cover: .va.center 2
								.slide
									.prop.prop-2-1.color-2
										.cover: .va.center 3

						.sep.sep-2

						.slider.slider-content.slider-directional
							.slider-slides
							.slider-slides-generate(data-items="4",data-selector=".col")
								- count = 1
								+cols(10,25)
									.prop.gray: .cover: .va.center=count
									- count++

			section.section-white
				.limit
					.inner.inner-2
						.content
				
							h2 Youtube
							.cols
								+col(50)
									.youtube(data-id="y2cQvZPX3OY")
										+img(640,360)
										button.youtube-play: span.fa.fa-play


			section.section-dark
				.limit
					.inner.inner-2
						.content
				
							h2 Multi Google Maps & Markers

							h4 Marcadores con contenido:
							pre.
								.map(data-zoom='14', data-lat='-33.4585000', data-lng='-70.629371')
									.map-marker(data-lat='-33.4600000', data-lng='-70.628371')
										| Optional content marker
									.map-marker(data-lat='-33.4580000', data-lng='-70.629371')
										| Optional content marker

							h4 Demos:

						.map.prop.prop-2-1(data-zoom='14', data-lat='-33.4585000', data-lng='-70.629371')
							.map-marker(data-lat='-33.4600000', data-lng='-70.628371')
								ul
									li
										span.fa.fa-home
										| Avenida del Parque 4161, oficina 103, Ciudad Empresarial
									li
										a(href='tel:+56223935367')
											span.fa.fa-phone
											| +(56) 2 2393 5367
									li
										a(href='mailto:contacto@fprogreso.org')
											span.fa.fa-envelope
											| contacto@fprogreso.org
							.map-marker(data-lat='-33.4580000', data-lng='-70.629371')
								.content.inner.inner-half
									h3 Lorem ipsum dolor
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, nihil odit voluptatibus iure temporibus repellat quo hic fugiat consequatur sequi ipsa minus harum nemo molestias, atque ullam suscipit! Eaque, delectus.

						.sep

						.map.prop.prop-2-1(data-zoom='16', data-lat='-33.4585000', data-lng='-70.629371')
							.map-marker(data-lat='-33.4600000', data-lng='-70.629371') :3
							.map-marker(data-lat='-33.4580000', data-lng='-70.628371')


