
extends ./templates/default.jade

block page

	.limit
		.inner
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ullam, error quas vero quidem harum voluptatibus minus tenetur cum? Accusantium inventore est dolores labore nobis maxime fugit ipsum a officiis!


