
@keyframes tourIn
	0%
		transform scale(2)
		opacity 0


//body.tour-in
//	overflow hidden


.tour-container
	position absolute
	width 100%
	height 100%
	top 0
	left 0	
	z-index 2000
	overflow hidden
	@media break3
		display none
	&.out
		.tour
			animation fadeOut .5s ease both


.tour
	position absolute
	animation tourIn .8s ease		
	transition .5s .4s ease

	.tour-tip
		position absolute
		top 100%
		line-height 20px
		width 300px
		overflow hidden
		color white

		.tour-tip-inner
			animation slideDown .5s .8s ease backwards
			background color_primary

		.tour-body
			padding 15px

		.tour-title
			font-weight bold
			font-size 20px

		.tour-buttons
			border-top 1px solid rgba(255,255,255,.2)
			padding 10px 15px
			overflow hidden
			.button
				border-color white
				&.tour-button-nextpage
					float right
				&:hover
					border-color white
					background white
					color color_primary
				&.tour-button-inactive
					opacity .5
					&:hover
						background color_primary
						color white
						cursor default


	.tour-bg
		position absolute
		background rgba(0,0,0,.5)
		height 100%
		&.tour-bg-top
			bottom 100%
			left -200%
			width 500%
			height 2000px
			box-shadow 0 -100px 100px rgba(0,0,0,.5)
		&.tour-bg-bottom
			top 100%
			left -200%
			width 500%
			height 2000px
			box-shadow 0 100px 100px rgba(0,0,0,.5)
		&.tour-bg-left
			right 100%
			top 0
			width 200%
			height 100%
		&.tour-bg-right
			left 100%
			top 0
			width 200%
			height 100%

	.tour-close
		position absolute
		top -10px
		right -10px
		circle 30px
		background white
		color #999
		&:hover
			cursor pointer
			color color_primary

