

mixin article()

	article.article-default

		.article-image
			+img(400,300)

		.article-body
			//.article-category: a(href="#") Hola
			.article-date 24/23/223
			h3.article-title: a(href="single.html"): +lorem(5)
			p.article-description: +lorem(10)
			//.article-shares
				a(href="http://loremipsum.com",data-text="Lorem ipsum").share.share-facebook
				a(href="http://loremipsum.com",data-text="Lorem ipsum").share.share-twitter
				a(href="http://loremipsum.com",data-text="Lorem ipsum").share.share-linkedin
				a(href="http://loremipsum.com",data-text="Lorem ipsum",data-img="http://placeimg.com/400/600/any").share.share-pinterest
				a(href="http://loremipsum.com",data-text="Lorem ipsum").share.share-googleplus
				a(href="http://loremipsum.com",data-text="Lorem ipsum").share.share-whatsapp
			a(href="single.html").button.button-cover Leer más


mixin articleMin()

	article.article-min

		.article-image
			+img(200,200)

		.article-body
			.article-date 24/23/223
			h3.article-title: a(href="single.html"): +lorem(5)
			p.article-description: +lorem(10)


mixin articleBg()

	article.article-bg

		.article-image
			.bg: +img(400,300)

		.article-cover
			.article-date 24/23/223
			h2.article-title: a(href="single.html"): +lorem(5)
			p.article-description: +lorem(10)
			a(href="single.html").button.button-line-white.button-cover Leer más

