
header
	.header-limit
		
		.header-left
			.header-logo
				a(href="index.html")
					img(src="img/logo-4.png")

		.header-right
			.header-button
				a.button(href="#") Contacto

		.header-right
			.header-nav
				nav
					ul
						li: a(href="index.html") Inicio
						li
							a(href="#") Multi-menu demo
							ul
								li: a(href="#") Lorem ipsum 1
								li: a(href="#") Lorem ipsum 2
								li
									a(href="#") Lorem ipsum 3
									ul
										li: a(href="#") Lorem ipsum 3.1
										li: a(href="#") Lorem ipsum 3.2
										li: a(href="#") Lorem ipsum 3.3
						li: a(href="faq.html") Faq
						li: a(href="contacto.html") Contacto
						li: a(href="single.html") Single
						li: a(href="demo.html") Demo


		.header-hamburger
			span.fa.fa-bars

