

.page-header
	background lighter

section
	&.section-light
		background-color light
	&.section-color
		background-color color
	&.section-color-2
		background-color color-2
	&.section-dark
		background-color dark
		color white

