

.page-header
	background lighter

.page
	&.page-light
		background-color light
	&.page-lighter
		background-color lighter
	&.page-color
		background-color color
	&.page-color-2
		background-color color-2
	&.page-dark
		background-color dark
		color white

section
	&.section-light
		background-color light
	&.section-lighter
		background-color lighter
	&.section-color
		background-color color
	&.section-color-2
		background-color color-2
	&.section-dark
		background-color dark
		color white


