

// Colors background

.white
	background-color white
	
.light
	background-color light
	
.lighter
	background-color lighter
	
.gray
	background-color gray
	color white
	
.dark
	background-color dark
	color white
	
.black
	background-color black
	color white
	
.color
	background-color color

if color_2
	.color-2
		background-color color_2


#body
	animation fadeIn .5s .2s ease backwards


.bg
	cover absolute
	background center center no-repeat
	background-size cover
	opacity 0
	&.bg-loaded
		animation fadeIn .5s ease
		opacity 1
	img
		display none


