
.pagination

	display block
	overflow hidden

	ul
		float right
		margin-bottom sep
		li
			display inline
			a
				float left
				border border
				padding 10px 15px
				margin-left -1px
				color gray
				text-decoration none
				background-color white
				&:hover
					color color
			&.active
				a
					background-color color
					color white

