
// Colors
color               = #0FC
color_2             = #0FF
red                 = #D00
black               = #222
darkgray            = #444
gray                = #999
lightgray           = #DDD
white               = #FFF

// Social colors
color_facebook		= #3b5998
color_twitter		= #00aced
color_googleplus	= #dd4b39
color_youtube		= #bb0000
color_linkedin		= #007bb6
color_instagram		= #517fa4
color_pinterest		= #cb2027
color_foursquare	= #0072b1

// Global
global_bg           = white
global_color        = black
global_size         = 14px
global_lh           = 20px
global_sep          = 20px

// Layout
sep                 = 20px
limit               = 1220px

// Fonts
font				= 'Open Sans', sans-serif
font_2				= 'Open Sans', sans-serif

// CSS vars
shadow				= 1px 1px 0px rgba(0,0,0,.4)
boxshadow			= 2px 2px 4px rgba(0,0,0,.1)
border				= 1px solid lightgray
rad					= 5px
rad_2				= 3px
tnormal				= .2s ease
tn   				= .2s ease
cb					= cubic-bezier(0.770, 0.000, 0.175, 1.000)

// RESPONSIVE BREAKPOINTS VARS [240px * (n+1) - 1]
break1 = "all and (max-width:479px)"
break2 = "all and (max-width:719px)"
break3 = "all and (max-width:959px)"
break4 = "all and (max-width:1199px)"
break5 = "all and (min-width:1440px)"

