

article
	position relative
	overflow hidden
	background-color white
	color dark
	margin-bottom 20px
	animation fadeIn .5s ease
	&:last-child
		margin-bottom 0
	
	.article-image
		background-color light
		position relative
		img
			width 100%
			opacity 0
	&.article-loaded
		.article-image
			img
				opacity 1
				animation fadeIn .5s ease

	.article-body
		padding sep

	.article-cover
		position absolute
		width 100%
		left 0
		bottom 0
		padding sep

	.article-title
		a
			display block
			&:after
				content ""
				cover absolute
	
	.article-title
	.article-description
		margin-bottom 10px
		&:last-child
			margin-bottom 0

	.article-category
		margin-bottom 5px
		a
			position relative
			z-index 2
			display inline-block
			padding 2px 10px
			background color
			color white

	.article-date
		opacity .5
		margin-bottom 5px
		font-size 90%
	
	.article-shares
		a
			position relative
			z-index 2
			display inline-block
			circle 30px
			margin-right 2px
			padding 0


	&.article-default
		radius rad
		.article-body
			border 1px solid lighter
			radius 0 0 rad rad
			@media $break-md
				min-height 240px
		.article-title a
			color black
		&:hover
			.article-title a
				color color


	&.article-min
		margin-bottom 1px
		padding 10px
		&:last-child
			margin-bottom 0
		.article-body
			overflow hidden
			padding 0
		.article-title
			title h4
			margin-bottom 5px
		.article-title a
			color dark
		.article-image
			float left
			width 100px
			margin-right 10px
			@media $break-md
				width 140px
		&:hover
			.article-title a
				color color


	&.article-bg
		color white
		background dark
		height 300px
		@media $break-sm
			height 400px
		@media $break-lg
			height 500px
		.article-image
			cover absolute
			opacity .2
			transition .4s ease
			// grad-shadow 200px 100px black
		&:hover
			.article-image
				opacity .4
		.article-title
			a
				color white
		.button
			&:after
				top auto
				bottom 0
				height 600px

		&.article-bg-big
			@media $break-lg
				height 600px
				.article-cover
					padding sep*2
	

	&.article-people
		max-width 300px
		margin 0 10px 20px
		display inline-block
		vertical-align top
		background transparent
		&:last-child
			margin-bottom 0
		.article-image
			background transparent
			max-width 200px
			margin 0 auto 10px
			border 1px solid light
			padding 5px
			radius 50%
			.article-circle
				position relative
				radius 50%
				proportion 1,1
				overflow hidden
				z-index 1
				background lighter
		.article-body
			padding 0
		.article-social
			a
				display inline-block
				circle 30px, 1
				background color
				color white
				margin 2px
				.fa
					vertical-align middle




	&.article-gallery
		background lighter
		radius rad
		z-index 1
		height 180px
		@media $break-sm
			height 250px

		.article-open
			display block
			cover absolute
			transition .4s ease

		.article-icon
			centrecircle 50px
			background white
			font-size 120%
			transition .4s ease
			opacity 0
			.fa.fa-play
				margin-left 5px
			&.article-icon-play
				opacity 1

		&:hover
			.article-open
				background rgba(dark,80%)
				.article-icon
					opacity 1





	&.article-prop
		color white
		background dark
		position relative
		transition .4s ease
		proportion 1,1
		overflow hidden

		.article-bg
			cover absolute
			transition .4s ease
			opacity .6

		.article-deco
			cover absolute
			border 15px solid transparent
			opacity 0
			transition .4s ease
			.article-deco-border
				cover absolute
				border 1px solid white

		.article-body-va
			cover absolute
			text-align center
			top 50%
			height 300px
			line-height 300px
			margin-top (@height/-2)
			.article-body
				display inline-block
				vertical-align middle
				line-height global_lh
				@media $break-sm
					padding 20px 30px

		.article-title a
			color white

		&:hover
			.article-bg
				opacity .2
			.article-deco
				opacity .6
		
		&.article-prop-4-3
			proportion 4,3
			@media $break-sm
				&.article-prop-double
					proportion 4,6
				&.article-prop-double-gutter
					proportion 4,6
					padding-top 20px


		&.article-prop-circle
			radius 50%
			.article-bg
				radius 50%
			.article-deco
				.article-deco-border
					radius 50%

