
.box
	position relative
	padding sep
	radius rad
	@media $break-md
		padding sep*2

	&.box-white
		background-color white
		
	&.box-lighter
		background-color lighter
		
	&.box-dark
		background-color dark
		color white
		
	&.box-black
		background-color black
		color white
		
	&.box-color
		background-color color
		color white

	if color_2
		&.box-color-2
			background-color color_2
			color white

