
#body
	animation fadeIn .5s .2s ease backwards


// mixin para colores de fondo

.box
	&.box-white
		background-color white
		
	&.box-light
		background-color light
		
	&.box-lighter
		background-color lighter
		
	&.box-gray
		background-color gray
		color white
		
	&.box-dark
		background-color dark
		color white
		
	&.box-black
		background-color black
		color white
		
	&.box-color
		background-color color

	if color_2
		&.box-color-2
			background-color color_2


// Sections colors background

section
	position relative

	&.section-white
		background-color white
		
	&.section-light
		background-color light
		
	&.section-lighter
		background-color lighter
		
	&.section-gray
		background-color gray
		color white
		
	&.section-dark
		background-color dark
		color white
		
	&.section-black
		background-color black
		color white
		
	&.section-color
		background-color color

	if color_2
		&.section-color-2
			background-color color_2



.message
	margin-bottom 20px
	background lighter
	radius rad_2
	padding 20px 30px


