
#body
	animation fadeIn .5s .2s ease backwards


// Dscroll
.dscroll
article.article-loaded.dscroll
	@media $break-lg
		opacity 0
		animation none
		&.dscroll-in
			animation slideFadeUp 1s ease backwards
			opacity 1


// Background img
.bg
	cover absolute
	background center center no-repeat
	background-size cover
	opacity 0
	display block
	&.bg-loaded
		animation fadeIn .5s ease
		opacity 1
	img
		display none



.message
	margin-bottom 20px
	background lighter
	radius rad_2
	padding 20px 30px



.subtitle
	@media $break-md
		font-weight 300
		font-size 120%
		line-height 140%
	@media $break-lg
		font-size 140%
		line-height 160%


