
#body
	animation fadeIn .5s .2s ease backwards


.white
	background-color white
	
.light
	background-color light
	
.lighter
	background-color lighter
	
.gray
	background-color gray
	color white
	
.dark
	background-color dark
	color white
	
.black
	background-color black
	color white
	
.color
	background-color color

if color_2
	.color-2
		background-color color_2


// Sections colors background

section
	position relative

	&.section-white
		background-color white
		
	&.section-light
		background-color light
		
	&.section-lighter
		background-color lighter
		
	&.section-gray
		background-color gray
		color white
		
	&.section-dark
		background-color dark
		color white
		
	&.section-black
		background-color black
		color white
		
	&.section-color
		background-color color

	if color_2
		&.section-color-2
			background-color color_2



.message
	margin-bottom 20px
	background lighter
	radius rad_2
	padding 20px 30px


