
header_height        = 80px
header_height_min    = 60px

header
	top 0
	width 100%
	z-index 10
	background dark
	color white
	position relative
	height header_height_min
	@media $break-md
		position fixed
		height header_height
	
	.header-limit
		max-width limit
		margin 0 auto
		position relative
		padding 0px 20px
		@media $break-md
			padding 10px 20px
	
	.header-left
		float left

	.header-right
		float right
		
	.header-logo
		a
			display block
			padding 20px 0
			font-weight bold
			font-size 200%
			color white
			margin-right 20px

	.header-nav
		position fixed
		top 0
		right 0
		width 260px
		height 100%
		background black
		z-index 5
		overflow hidden
		display none
		&.in
			display block
			animation slideLeft .5s cb backwards
		&.out
			display block
			animation slideRightOut .5s cb forwards

		@media $break-md
			display block
			position relative
			width auto
			height auto
			overflow visible
			background none
		
		.header-nav-back
			@media $break-md
				display none

		ul
			li
				border-bottom 1px solid rgba(255,255,255,.1)
				@media $break-md
					border-bottom 0
					display inline-block
					position relative
					&:hover
						>ul
							display block
				a
					padding 20px
					display block
					color white
					.fa
						opacity .5
						padding 2px 0
						&.fa-angle-left
							float left
							margin-right 10px
						&.fa-angle-right
							float right
							margin-left 10px
				ul
					background color
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					display none
					animation fadeIn .2s ease backwards
					@media $break-md
						top 100%
						left 0%
						height auto
					&.in
						display block
						animation slideLeft .5s cb backwards
					&.out
						display block
						animation slideRightOut .5s cb forwards

					li
						display block
						@media $break-md
							position static
						ul
							background color_2
							@media $break-md
								top 0
								left 100%

	.header-hamburger
		position fixed
		top 10px
		right 10px
		width 40px
		height @width
		line-height @width
		z-index 6
		text-align center
		background dark
		@media $break-md
			display none

	.header-menu-button
		z-index 2
		position fixed
		top 0
		right 0
		background dark
		display block
		@media $break-md
			display none
	
	.header-menu
		z-index 1
		position fixed
		top 0
		right 0
		height 100%
		overflow hidden
		@media $break-md
			display none

		.header-menu-inner
			background darken(dark,20%)
			height 100%
			width 320px
			position relative
			max-width 100%
			margin 0 0 0 auto
		
		.secretmenu-lvl
			background dark

		.header-menu-content
			ul
				li
					a
						padding 20px
						display block
						color white
						border-bottom 1px solid rgba(255,255,255,.1)
					ul
						display none
						display block
						cover absolute
						overflow auto
						opacity .5
						display none



#body
	@media $break-md
		padding-top header_height

