
header_height        = 80px
header_height_min    = 60px

header
	position fixed
	top 0
	width 100%
	z-index 10
	height header_height
	background dark
	@media break2
		position relative
		height header_height_min
	
	.inner
		overflow hidden

	.header-left
		float left

	.header-right
		float right
		
	.header-logo
		a
			display block
			padding 10px 0
			font-weight bold
			font-size 200%
			color white

	.header-nav
		@media break2
			display none
		ul
			li
				display inline-block
				a
					padding 10px 20px
					display inline-block
					color white
				&.current-menu-item
					a
						background rgba(255,255,255,.1)
				ul
					display none
						
	.header-menu-button
		z-index 2
		display none
		position fixed
		top 0
		right 0
		background dark
		@media break2
			display block
	
	.header-menu
		z-index 1
		position fixed
		top 0
		right 0
		height 100%
		overflow hidden
		display none
		@media break2
			display block

		.header-menu-inner
			background darken(dark,20%)
			height 100%
			width 320px
			position relative
			max-width 100%
			margin 0 0 0 auto
		
		.secretmenu-lvl
			background dark

		.header-menu-content
			ul
				li
					a
						padding 20px
						display block
						color white
						border-bottom 1px solid rgba(255,255,255,.1)
					ul
						display none
						display block
						cover absolute
						overflow auto
						opacity .5
						display none



#body
	padding-top header_height
	@media break2
		padding-top 0

