
.page
	
	.page-header
		position relative
		background color
		color white
		
		.page-header-bg
			&.bg.bg-loaded
				opacity .2
		
		.page-header-title
			&:last-child
				margin-bottom 0
	
	.page-body
		position relative
