
.pagination
	text-align center
	ul
		li
			display inline-block
			a
				padding 10px 15px
				color gray
				background-color white
				display block
				&:hover
					color color
			&.active
				a
					background-color color
					color white

