
section
	position relative
	//background-color white

	&:nth-child(even)
		background-color white
		//background-color lighter
	
	&.section-white
		background-color white
		
	&.section-lighter
		background-color lighter
				
	&.section-dark
		background-color dark
		color white
		
	&.section-black
		background-color black
		color white
		
	&.section-color
		background-color color
		color white

	&.section-color-2
		background-color color_2
		color white

	&.section-center
		text-align center

	.section-bg
		&.bg.bg-loaded
			opacity .2

	.section-bg-video
		position absolute
		width 300%
		height 100%
		left -100%
		top 0
		opacity .2
		z-index -1
		animation fadeIn .5s 1s ease backwards
		@media $break-sm
			width 150%
			left -25%
		@media $break-lg
			width 100%
			height 200%
			left 0
			top -50%
		&:after
			content ""
			cover absolute


	.section-limit
		position relative
		max-width limit
		margin 0 auto
		padding sep*2 sep
		@media $break-md
			padding sep*3 sep

	.section-limit-sm
		@media $break-sm
			position relative
			max-width limit
			margin 0 auto
			padding sep*2 sep
		@media $break-md
			padding sep*3 sep


	.section-group
		position relative

	.section-content
		max-width limit_3
		margin 0 auto 40px
		&:last-child
			margin-bottom 0
		&>*
			margin-bottom sep
			&:last-child
				margin-bottom 0

	.section-content-va
		min-height 400px
		line-height 400px
		position relative
		.section-content
			display inline-block
			vertical-align middle
			line-height global_lh

	.section-subtitle
		@media $break-md
			font-weight 300
			font-size 120%
			line-height 140%
		@media $break-lg
			font-size 140%
			line-height 160%

	.section-buttons
		.button
			margin-top 5px
			margin-bottom 5px


	&.section-map
		.section-map
			cover absolute
			z-index 1
		.section-limit
			overflow hidden
		.section-map-box
			float left
			max-width 400px
			z-index 2
			position relative

	&.section-map2
		.section-map
			position absolute
			right 0
			top 0
			height 100%


	&.section-logos
		text-align center
		a
			display inline-block
			vertical-align middle
			margin 10px 20px
			text-align center
			filter grayscale(1)
			transition .4s ease
			max-width 120px
			height 30px
			line-height 30px - 2
			@media $break-md
				max-width 180px
				height 60px
				line-height 60px - 2
			img
				max-height 60px
				max-width 100%
				display inline-block
				vertical-align middle
			&:hover
				filter grayscale(0)






