

.share
	color white
	display inline-block
	circle 30px
	margin 0 1px
	&:before
		font-family "FontAwesome"

	&.share-facebook
		background-color color_facebook
		&:before
			content "\f09a"
		&:hover
			background-color lighten(color_facebook,10%)

	&.share-twitter
		background-color color_twitter
		&:before
			content "\f099"
		&:hover
			background-color lighten(color_twitter,10%)

	&.share-instagram
		background-color color_instagram
		&:before
			content "\f16d"
		&:hover
			background-color lighten(color_instagram,10%)

	&.share-linkedin
		background-color color_linkedin
		&:before
			content "\f0e1"
		&:hover
			background-color lighten(color_linkedin,10%)

	&.share-googleplus
		background-color color_googleplus
		&:before
			content "\f0d5"
		&:hover
			background-color lighten(color_googleplus,10%)

	&.share-whatsapp
		background-color color_whatsapp
		&:before
			content "\f232"
		&:hover
			background-color lighten(color_whatsapp,10%)

	&.share-pinterest
		background-color color_pinterest
		&:before
			content "\f231"
		&:hover
			background-color lighten(color_pinterest,10%)

