
// Reset

*
	margin 0
	padding 0
	border 0
	outline 0


// Base styles

body
	-webkit-font-smoothing antialiased
	background global_bg

body, button, input, textarea, select
	font-family font
	color global_color
	font-size global_size
	line-height global_lh

a, button, input, textarea, select
	transition tn

a
	color color
	text-decoration none

a, input, button, select
	transition tnormal

button, select, input[type='submit']
	&:hover
		cursor pointer

h1, h2, h3, h4
	font-family font_2

h1
	font-size 50px
	line-height 50px
	@media break3
		font-size 40px
		line-height 40px
	@media break2
		font-size 30px
		line-height 30px

h2
	font-size 25px
	line-height 25px

h3
	font-size 20px
	line-height 24px

h4
	font-size 16px
	line-height 20px

ul
ol
	list-style-type none

img
	display block

table
	border-collapse collapse
	td
	th
		border 1px solid lightgray
		padding 10px
	th
		background-color darkgray
		border-color darkgray
		color white


// Particular classes

.clear
	clear both

.center
	text-align center

.left
	text-align left

.right
	text-align right

.float-left
	float left

.float-right
	float right

.overflow
	overflow hidden

.none
	display none

.nowrap
	white-space nowrap


// Base layout

.limit
	max-width limit
	margin 0 auto
	position relative

.inner
	padding sep
	@media break1
		padding (sep/2)

.nomobile
	display block
.mobile
	display none
@media break1
	.nomobile
		display none
	.mobile
		display block


// Generic animation

.in
	display block
	animation fadeIn .5s ease both
	&.out
		animation fadeOut .5s ease both


