

// Layout menu

secretmenu_width = 200px
secretmenu_sep = 40px
secretmenu_color = darkgray

.secretmenu-container
	position relative
	height 100%
	width 100%
	top 0
	left 0
	@media break2
		position absolute
		overflow hidden
	.secretmenu-container-front
		background global_bg
		position relative
		height 100%
		width 100%
		overflow auto
		tap 0
	.secretmenu-container-back
		position absolute
		top 0
		width secretmenu_width
		height 100%
		display none
		.secretmenu
			background darken(secretmenu_color,50%)
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			overflow auto
			transition .5s ease
			animation slideRight .6s .1s cb backwards
			&.out
				animation slideLeftOut .6s cb both
			ul
				li
					a
						tap 0
						&.secretmenu-parent
							.fa
								float right
								padding-top 4px
					ul
						display none
			&:last-child
				background secretmenu_color

	.secretmenu-container-front,
	.secretmenu-translate
		transition .6s .1s cb


@media break2

	body.secretmenu-in

		.secretmenu-container-back
			display block
		
		&.secretmenu-left
			.secretmenu-container-back
				left 0
				.secretmenu.secretmenu-lvl-1
					animation slideMiddleLeft .6s .1s cb backwards
			.secretmenu-container-front,
			.secretmenu-translate
				transform translateX(secretmenu_width)

		&.secretmenu-right
			.secretmenu-container-back
				right 0
				.secretmenu.secretmenu-lvl-1
					animation slideMiddleRight .6s .1s cb backwards
			.secretmenu-container-front,
			.secretmenu-translate
				transform translateX(secretmenu_width*-1)

		&.secretmenu-out
			.secretmenu-container-front,
			.secretmenu-translate
				transform translateX(0)






// Config menu button

secretmenu_button_width = 50px
secretmenu_button_height = 50px
secretmenu_button_bar_width = 24px
secretmenu_button_bar_height = 2px
secretmenu_button_bar_sep = 5px
secretmenu_button_bars_height = (secretmenu_button_bar_sep*2)+(secretmenu_button_bar_height*3)

.secretmenu-button
	position absolute
	top 0
	left 0
	background primary_color
	width secretmenu_button_width
	height secretmenu_button_height
	display none
	tap 0
	animation fadeIn .5s ease
	.secretmenu-button-bars
		position absolute
		top 50%
		left 50%
		width secretmenu_button_bar_width
		height secretmenu_button_bars_height
		margin-left (secretmenu_button_bar_width/-2)
		margin-top (secretmenu_button_bars_height/-2)
		.secretmenu-button-bar
			position absolute
			left 0
			width 100%
			height secretmenu_button_bar_height
			background white
			transition .5s ease
			&:nth-child(1)
				top 0
			&:nth-child(2)
				top 50%
				margin-top (secretmenu_button_bar_height/-2)
			&:nth-child(3)
				bottom 0

body.secretmenu-in
	.secretmenu-button
		.secretmenu-button-bars
			.secretmenu-button-bar
				transition-delay .5s
				&:nth-child(2)
					transform scale(0,1)
				&:nth-child(1)
					transform rotate(45deg) translate(5px,5px)
				&:nth-child(3)
					transform rotate(-45deg) translate(5px,-5px)



